@import '../html/xhtml.css';

@namespace sw 'urn:x-suika-fam-cx:markup:suikawiki:0:9:';
@namespace sw10 'urn:x-suika-fam-cx:markup:suikawiki:0:10:';
@nemespace xml 'http://www.w3.org/XML/1998/namespace';

sw|anchor {
  text-decoration: underline;
  color: blue;
}

sw|anchor-end {
  color: gray;
}

sw|anchor-internal {
  color: blue;
  border-bottom: dotted thin;
}

sw10|title {
  color: red;
}

sw10|title:before,
sw10|attrvalue:before {
  content: "][";
}

sw10|title[xml|lang]:before,
sw10|attrvalue[xml|lang]:before {
  content: "]@" attr(xml|lang) "[";
}

abbr > sw10|title {
  color: gray;
}

abbr > sw10|title:before {
  content: " ^^";
}

abbr > sw10|title[xml|lang]:before {
  content: " ^^" attr(xml|lang) "@";
}

abbr > sw10|title:after {
  content: "^^ ";
}

sw|weak {
  color: gray;
}

sw|form {
  background-color: skyblue;
}

sw|form:before {
  content: "#form: ";
}

sw|form[ref]:before {
  content: "#" attr(ref) ": ";
}

sw|form:after {
  content: attr(input) " : " attr(template) " : " attr(option) " : " attr(parameter);
}

sw|form[ref]:after {
  content: attr(parameter);
}


rt {
  font-size: smaller;
}

rt:before {
  content: " ^[";
}

rt:after {
  content: "]^ ";
}

rt + rt:before, rubyb rt:before {
  content: " _[";
}

rt + rt:after, rubyb rt:after {
  content: "]_ ";
}

section {
  display: block;
  margin: 1em;
  padding: 0.5em;
  border: green dotted;
}

cite:before {
  content: " ``";
}

cite:after {
  content: "'' ";
}

csection {
  text-decoration: underline;
}

csection:before,
csection:after {
  content: " \A7 ";
}

sw|anchor-external {
  color: blue;
}

sw|anchor-external:before {
  content: " (" attr(sw|resScheme) ")<";
}

sw|anchor-external:after {
  content: ">[" attr(sw|resParameter) "] ";
}

sw10|comment-p {
  color: green;
}

sw10|comment-p:before {
  content: ";; ";
}

sw10|ed {
  color: red;
  border: 0.5em solid;
}

sw10|ed:before {
  content: "@@ ";
}
