.idl {
  border: 1px solid black;
  padding: 2em 3em;
  background-color: #dfdfdf;
  color: black;
  white-space: pre;
  font-family: monospace;
}

.idl > code {
  color: inherit;
  background-color: transparent;
}

.idl dfn {
  font-style: inherit;
}

dfn.dom-const {
  color: black;
  background-color: #FFFFD2;
}

dfn.dom-method {
  color: black;
  background-color: #D9E6F8;
}

dfn.dom-attr {
  background-color: #FEE6F8; 
  color: black;
}

dfn.dom-param {
  color: black;
  background-color: #DDFFD2;
}

dfn.dom-attr > code,
dfn.dom-method > code,
dfn.dom-const > code,
dfn.dom-param > code {
  color: inherit;
  background-color: transparent;
  font-style: normal;
  font-weight: bolder;
}

/*

Copyright 2007 Wakaba <w@suika.fam.cx>.

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; see the file COPYING.  If not, write to
the Free Software Foundation, Inc., 59 Temple Place - Suite 330,
Boston, MA 02111-1307, USA.

*/

/* $Date: 2008/09/17 06:18:09 $ */
