@charset 'iso-2022-jp';

dl.uri-equiv,
dl.urn-suika-sub-nid-def {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: 4px orange solid;
  -moz-border-radius: 20px;
  padding: 0.4em 0.8em;
}

dl.uri-equiv.deprecated {
  border-color: gray;
}

dl.uri-equiv:before,
dl.urn-suika-sub-nid-def:before {
  content: "$BDj5A(B";
  display: block;
  border-bottom: 4px orange solid;
  margin-bottom: 0.3em;
  font-weight: bolder;
  font-family: sans-serif;
}

dl.uri-equiv > dt,
dl.urn-suika-sub-nid-def > dt {
  display: block;
  float: left;
  clear: left;
  width: 4em;
  margin: 0 0.2em 0.5em 0;
  border-style: none;
  padding: 0.2em 0.2em 0.2em 0.5em;
  list-style: none;
  text-indent: 0;
  font-weight: normal;
}

dl.uri-equiv > dt:after,
dl.urn-suika-sub-nid-def > dt:after {
  content: " :";
  display: inline;
}

dl.uri-equiv > dd,
dl.urn-suika-sub-nid-def > dd {
  display: block;
  margin: 0 0 0.5em 0;
  border-style: none;
  padding: 0.2em 0.5em;
  text-indent: 0;
}

/* URI Equivalence Property Definitions
   <https://suika.suikawiki.org/admin/assign/urn#EQUIV> */

dl.uri-equiv {
  min-width: 11em;
}

dl.uri-equiv:before {
  display: none;
}

dl.uri-equiv > dt.uri-equiv-name {
  display: none;
}

dl.uri-equiv > dt.uri-equiv-name + dd:lang(ja) {
  margin-left: 0;
  margin-bottom: 0;
  border-bottom: #C0C0C0 2px solid;
  padding-left: 0;
  padding-bottom: 0.1em;
  font-weight: bolder;
  font-family: sans-serif;
}

dl.uri-equiv > dt.uri-equiv-name + dd:lang(ja):before {
  content: "URI $BEy2A@-(B: ";
  display: inline;
}

dl.uri-equiv > dt.uri-equiv-name + dd:lang(ja) + dd:lang(en) {
  margin-left: 0;
  margin-top: 0;
  border-top: none 0 white;
  padding-left: 0;
  padding-top: 0.1em;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 80%;
}

@media screen {
  dl.uri-equiv > dt.uri-equiv-name + dd:lang(ja) + dd:lang(en) {
    opacity: 0.3;
  }
}

dl.uri-equiv > dt.uri-equiv-name + dd:lang(ja) + dd:lang(en):before {
  content: "URI Equivalence: ";
  display: inline;
}

/* Suika URN sub-nid Templates
   <https://suika.suikawiki.org/admin/assign/urn#TEMPLATE> */

dl.urn-suika-sub-nid-def {
  min-width: 21em;
}

dl.urn-suika-sub-nid-def:before {
  content: "$B@>1;(B URI $BItJ,L>A06u4VDj5A(B";
}

dl.urn-suika-sub-nid-def > dt {
  width: 10em;
}

/* IETF Template-like Style */

dl.urn-nid-def {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  padding: 0;
  width: 33em;
}

dl.urn-nid-def > dt {
  display: block;
  float: none;
  width: auto;
  margin: 1em 0 0 0;
  border-style: none;
  padding: 0;
  list-style: none;
  text-indent: 0;
}

dl.urn-nid-def > dt:after {
  content: ":";
  display: inline;
}

dl.urn-nid-def > dd {
  display: block;
  float: none;
  width: auto;
  margin: 1em 0 0 1.5em;
  border-style: none;
  padding: 0;
  text-indent: 0;
}

/* URN NID Templates */

dl.urn-nid-def > dd.registration-date {
  margin-top: 0;
}

dl.urn-nid-def > dd > dl {
  display: block;
  margin: 0;
  border-style: none;
  padding: 0;
}

dl.urn-nid-def > dd > dl > dt {
  display: block;
  float: none;
  margin: 0;
  border-style: none;
  padding: 0;
  list-style: none;
  text-indent: 0;
}

dl.urn-nid-def > dd > dl > dd {
  display: block;
  float: none;
  margin: 0 0 0 1.5em;
  border-style: none;
  padding: 0;
  list-style: none;
  text-indent: 0;
}

/* License

Copyright 2005 Wakaba <wakaba@suikawiki.org>.

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; see the file COPYING.  If not, write to
the Free Software Foundation, Inc., 59 Temple Place - Suite 330,
Boston, MA 02111-1307, USA.

*/

/* $Date: 2005/07/04 12:29:04 $ */
