@charset 'iso-2022-jp';

/* XHTML 1.1 Style Document Type Definitions */

dl.xhtml-doctype-def {
  display: block;
  margin-left: 1em;
  margin-right: 1em;
}

dl.xhtml-doctype-def > dt {
  display: block;
  margin-left: 0;
  border-style: none;
  padding-left: 0;
  list-style-type: none;
  font-weight: bolder;
  font-family: sans-serif;
}

dl.xhtml-doctype-def > dd {
  display: block;
  margin-left: 2em;
  border-style: none;
  padding-left: 0;
  list-style-type: none;
}

dl.xhtml-doctype-def > dd > code,
dl.xhtml-doctype-def > dd > a code,
dl.xhtml-doctype-def > dd > code > a,
dl.xhtml-doctype-def > dd > code > a > code {
  border-style: none;
  color: rgb(102, 0, 153);
  text-decoration: none;
}

table.xhtml-doctype-module-def {
  margin-left: 1em;
  margin-right: 1em;
  width: 95%;
}

code.xhtml-doctype-content-model {

}

code.xhtml-doctype-content-set {

}

dl.xhtml-doctype-content-set-def {
  display: block;
  margin-left: 1em;
}

dl.xhtml-doctype-content-set-def > dt {
  display: block;
  margin-left: 0;
  border-style: none;
  padding-left: 0;
  list-style-type: none;
  font-weight: bolder;
  font-family: sans-serif;
}

dl.xhtml-doctype-content-set-def > dd {
  display: block;
  margin-left: 2em;
  border-style: none;
  padding-left: 0;
  list-style-type: none;
}

code.xhtml-doctype-datatype {

}

table.xhtml-doctype-datatype-def {
  margin-left: 1em;
  margin-right: 1em;
  width: 95%;
}

table.xhtml-doctype-datatype-def td dfn {
  font-weight: normal;
}

code.xhtml-doctype-attrcol {

}

table.xhtml-doctype-attrcol-def {
  margin-left: 1em;
  margin-right: 1em;
  width: 95%;
}

div.xhtml-doctype-attr-def {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.xhtml-doctype-attr-def > div.caption {
  display: inline;
  margin-left: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid;
  padding-bottom: 0.03em;
  font-weight: normal;
}

div.xhtml-doctype-attr-def > div.caption:lang(en) {
  border-style: none;
  font-style: italic;
}

div.xhtml-doctype-attr-def > dl {
  display: block;
}

div.xhtml-doctype-attr-def > dl > dt {
  display: block;
  margin-top: 1em;
  margin-left: 0;
  margin-bottom: 0;
  border-style: none;
  padding-left: 0;
  list-style-type: none;
  color: black;
  background-color: rgb(213, 222, 227);
  font-weight: bolder;
  font-family: sans-serif;
}

div.xhtml-doctype-attr-def > dl > dt:first-child {
  margin-top: 0;
}

div.xhtml-doctype-attr-def > dl > dt code {
  color: inherit;
  background-color: transparent;
}

div.xhtml-doctype-attr-def > dl > dd {
  display: block;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-style: none;
  padding-left: 2em;
  list-style-type: none;
  text-indent: 0;
  color: black;
  background-color: rgb(213, 222, 227);
}

@media print {
  div.xhtml-doctype-attr-def > dl > dt,
  div.xhtml-doctype-attr-def > dl > dd {
    background-color: transparent;
    color: black;
  }
}

/* License

Copyright 2005 Wakaba <w@suika.fam.cx>.

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; see the file COPYING.  If not, write to
the Free Software Foundation, Inc., 59 Temple Place - Suite 330,
Boston, MA 02111-1307, USA.

*/

/* $Date: 2005/07/04 12:29:04 $ */
