/*
  CSS Style Sheet for HTML Articles
*/

@import 'xhtml.css';
@namespace 'http://www.w3.org/1999/xhtml';

body {
  counter-reset: chapter appendix;
}

.section#abstract, .section#references {
  counter-increment: none;
}

.section#abstract h2:before, .section#references h2:before {
  content: "";
}

h2, .appendix h3 {
  counter-increment: chapter;
  counter-reset: section;
  font-size: 140%;
}

h2:before {
  content: "";
  content: counter(chapter) ". ";
}

.appendix h3:before {
  content: counter(appendix, upper-alpha) "." counter(chapter) ". ";
}

h3, div.appendix h4 {
  counter-increment: section;
  counter-reset: subsection;
  font-size: 120%;
}

h3:before {
  content: "";
  content: counter(chapter) "." counter(section) ". ";
}

h4:before {
  content: "";
  content: counter(appendix, upper-alpha) "."
           counter(chapter) "." counter(section) ". ";
  counter-reset: subsection;
}

h5:before {
  content: "";
  content: counter(appendix, upper-alpha) "."
           counter(chapter) "." counter(section) "."
           counter(subsection)". ";
  counter-increment: subsection;
}

#references dt {
  display: block;
  list-type: none;
  margin-top: 1em;
}

#references dt:before {
  content: "[";
}

#references dt:after {
  content: "]";
}

/* License

Copyright 2007 Wakaba <w@suika.fam.cx>.

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; see the file COPYING.  If not, write to
the Free Software Foundation, Inc., 59 Temple Place - Suite 330,
Boston, MA 02111-1307, USA.

*/

/* $Date: 2007/09/25 13:57:43 $ */
