@charset 'iso-2022-jp';
@import '/www/style/ui/toc-style-float-compact.css';
@namespace H3 'urn:x-suika-fam-cx:markup:ietf:html:3:draft:00:';
@namespace 'http://www.w3.org/1999/xhtml';
@namespace h2002 'http://www.w3.org/2002/06/xhtml2';
@namespace h2005 'http://www.w3.org/2002/06/xhtml2/';
@namespace xml 'http://www.w3.org/XML/1998/namespace';
@namespace sd 'http://suika.fam.cx/~wakaba/archive/2005/3/common-class#';

/* Document Status */
.status-work-in-progress {
  background-image: url(/www/style/draft-bg);
  background-position: top center;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

/* Versions URI and Authors */
dl.versions-uri, dl.authors {
  display: block;
  margin-left: 0;
}

dl.versions-uri {
  margin-bottom: 0;
}

dl.versions-uri + * {
  margin-top: 1em;
}

dl.versions-uri + dl.authors {
  margin-top: 0;
}

dl.versions-uri > dt,
dl.authors > dt {
  display: block;
  margin-left: 0;
  border-style: none;
  padding-left: 0;
  list-style-type: none;
  font-weight: bolder;
  font-family: sans-serif;
}
dl.versions-uri > dt:after,
dl.authors > dt:after {
  content: " :";
}

dl.versions-uri > dd,
dl.authors > dd {
  display: block;
  margin-left: 2.3em;
  border-style: none;
  padding-left: 0;
  list-style-type: none;
}

/* Short Legal Notes */
div.header p.copyright,
header p.copyright {
  margin-left: 0;
  text-indent: 0;
  font-size: smaller;
  font-style: italic;
  line-height: 1.2;
}

header p.copyright a {
  border-style: none;
}

@media screen {
  div.header p.copyright,
  header p.copyright {
    opacity: 0.7;
  }
}

/* Sections */

section,
div.section {
  display: block;
}

div.appendix {
}

div.appendix h2:before {
  content: "$BImO?(B ";
  display: inline;
}

div.appendix h2:lang(en):before {
  content: "Appendix ";
}

div.document-gnu-fdl h3 {
  text-align: center;
}

div.document-gnu-fdl h3:before,
div.document-gnu-fdl h4:before {
  display: none;
  content: "";
  content: normal;
}

/* Version and date */
div.document-gnu-fdl > h3 + div.non-para {
  margin-bottom: 1em;
  text-align: center;
}

/* TOC */

@media screen {
  body:not(.has-abstract) > h1, #ABSTRACT,
  #abstract,
  body:not(.has-abstract) > div.header > h1,
  h2002|body > h2002|h,
  h2005|body:not([class~="has-abstract"]) > h2005|h {
    -moz-binding: url(/www/style/ui/toc#after);
  }
}

/* Column Sections */
.column, .column.example {
  display: block;
  margin: 1em auto;
  border: rgb(85, 79, 160) 2px solid;
  -moz-border-radius: 3%;
  padding: 1em;
  max-width: 80%;
}


/* Paragraphs */
div.para {
	display: block;
	text-indent: 1em;
	margin: 0 1em;
	text-align: justify;
}
/* XML Alternate: h2|p */

div.para:lang(en) {
  text-indent: 2em;
}

div.para > * {
  text-indent: 0;
}

.block {
  display: block;
  text-indent: 0;
  margin: 0 1em;
}

/* Paragraph-like blocks which are not strictly paragraphs */

div.non-para, p.non-para {
  display: block;
  text-indent: 0;
  margin: 0 1em;
  text-align: left;
}

li > div.non-para, li > p.non-para,
dd > div.non-para, dd > p.non-para {
  margin-left: 0;
  margin-right: 0;
  text-indent: 0;
}

/* Semi-paragraphs */
span.line {
  display: block;
  text-indent: 0;
}
/* XML alternate: h2|l */

/* Figure */
.fig {
  display: block;
  margin: 1em auto;
  border: rgb(85, 79, 160) 2px solid;
  -moz-border-radius: 3%;
  padding: 0;
  max-width: 80%;
}
/* XML Alternate: ???:fig */

.fig-body {
  display: block;
  margin: 1em;
  padding: 0;
}

.fig .credit,
div.epigraph div.credit {
  display: block;
  margin-left: 40%;
  margin-right: 2em;
  text-align: right;
}
.fig .credit:before,
div.epigraph div.credit:before {
  content: "$B!=!=(B ";
}

.fig.quote blockquote {
  margin: 0 1em;
  border-style: none;
  padding: 0;
}

/* Note */

.note {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 5em;
  text-indent: 0;
  background-color: transparent;
  color: green;
}
/* NOTE: Don't use :before since old documents do or do not have 
         text of "Note: " or so on as part of character data. */
/* XML Alternate: H3|note */

/* .note.memo (= H3|note), .rationale.memo */
.memo {
	display: block;
	margin: 0.3em 3em 0.3em 6em;
	padding: 0 0 0 2em;
	color: green;
	background-color: transparent;
	font-style: normal;
}

div.memo div.memo {
  margin-left: 4em;
  margin-right: 0;
}

.memo > :first-child:before {
	display: inline;
	content: "$BCm0U(B : ";
	font-weight: bolder;
  font-family: sans-serif;
}
.memo.info > :first-child:before {
  content: "$B;29M(B : ";
}
.rationale.memo > :first-child:before {
	content: "$B2r@b(B : ";
}
.memo.todo > :first-child:before {
  content: "$BMW:n6H(B : ";
}
.memo.example > :first-child:before {
  content: "$BNc(B : ";
  margin-right: 0.8em;
}
.memo:lang(en) {
/* NOTE: Selector should be "script=Latin" rather than "lang=en"
         if there would such a selector... */
	font-style: italic;
}
.memo:lang(en) > :first-child:before {
	content: "Note.  ";
}
.rationale:lang(en) > :first-child:before {
	content: "Rationale.  ";
}
.todo:lang(eN) > :first-child:before {
  content: "To do : ";
}
.memo.example:lang(en) > :first-child:before {
  content: "Example.  ";
}
.memo > p:first-child, .memo > .para:first-child {
	text-indent: -3em;
	margin-left: 1em;
}

.memo:lang(en) var {
  font-style: normal;
}

/* Pending */

.issue {
  background-color: rgb(221, 255, 221);
  color: black;
}

.ed {
  margin-top: 1em;
  margin-bottom: 1em;
  border: medium solid red;
  padding: 0.5em;
  color: rgb(229, 0, 0);
  background-color: transparent;
}

/* Example */

.example {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid rgb(153, 153, 153);
  padding: 0.5em;
  background-color: rgb(255, 248, 221);
  color: rgb(102, 0, 0);
}

div.example:first-child {
  margin-top: 0;
}

.example:before, div.example.has-caption > .caption:before {
  content: "$BNc(B: ";
  font-weight: bolder;
  font-family: sans-serif;
}
.example:lang(en):before {
  content: "Example.  ";
}

div.example.has-caption:before {
  display: none;
  content: "";
}


.example.memo {
  border-style: none;
  background-color: transparent;
  color: green;
}
.example.memo:before {
  content: "";
  display: none;
}

/* For compatibility with old documents */
pre.example {
  padding-left: 2em;
}
pre.example:before {
  display: block;
  text-indent: -1em;
}

.fig.example:before, .column.example:before {
  content: "" /* normal */;
}

.example .comment {
  background-color: transparent;
  color: green;
  text-decoration: none;
  font-family: "MS Mincho", "Times New Roman", serif;
}

/* Quotations */

div.epigraph {
  margin-left: auto;
  margin-right: 0;
  width: 20em;
  padding: 0;
  font-size: 80%;
  font-style: italic;
}

div.epigraph blockquote {
  margin: 0;
  border-width: 0;
  padding: 0;
}

div.epigraph blockquote p {
  margin: 0;
}

div.epigraph blockquote p:first-child {
  margin-top: 0;
  text-indent: 0;
}

div.epigraph div.credit {
  margin-right: 0;
}

/* Snip (Omittion) Indicator */
div.snip {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

div.snip, span.snip {
  color: gray;
  background-color: transparent;
  font-family: serif;
}

li.snip {
  color: gray;
  background-color: transparent;
  list-style-type: none !important;
  visibility: hidden;
  text-indent: -0.8em;
  line-height: 1.0;
}

li.snip:before {
  display: inline;
  content: ":";
  visibility: visible;
}

/* Captions */
.caption {
  font-weight: bolder;
  font-family: sans-serif;
}

/* Block Captions */

.fig .caption {
  display: block;
  text-align: left;
}
.fig > .caption:lang(en) {
  font-weight: normal;
  font-family: serif;
  font-variant: small-caps;
  font-style: italic;
}
.fig > * + .caption {
  text-align: center;
}

.fig > .caption:before {
  content: "$B?^(B: ";
}
.fig > .caption:lang(en):before {
  content: "Figure. ";
}
.fig.example > .caption:before {
  content: "$BNc(B: ";
}
.fig.example > .caption:lang(en):before {
  content: "Example. ";
}

/* Inline Captions */

p .caption, li .caption {

}
/* Example: <p class="note"><span class="caption">Note.</span> ...</p> */



/* Lists */

dl.term-definition {
  display: block;
}

dl.term-definition > dt {
  display: inline;
  margin-left: 0;
  border-style: none;
  padding-left: 0;
  list-style-type: none;
}

dl.term-definition > dt:lang(ja) + dt:lang(en) {
  
}
dl.term-definition > dt:lang(ja) + dt:lang(en):before {
  content: " (";
}
dl.term-definition > dt:lang(ja) + dt:lang(en):after {
  content: ")";
}

dl.term-definition > dd {
  display: block;
  margin-left: 0;
  border-style: none;
  padding-left: 0;
  text-indent: 1em;
}


ul.has-marker li, ol.has-marker li {
  list-style-type: none;
  text-indent: 0;
}

.marker {
  display: inline;
  position: relative;
  left: -2em;
}

span.list-content {
  display: inline;
}

div.document-gnu-fdl ul li {
  list-style-type: upper-alpha;
}

div.document-gnu-fdl ul li .marker {
  display: none;
}

/* dl.switch from WHATWG specification style sheet */

dl.switch {
  padding-left: 2em;
}

dl.switch dt {
  display: block;
  text-indent: -1.5em;
  font-weight: bolder;
  font-family: sans-serif;
  font-style: normal;
}

dl.switch dt:before {
  content: '\21AA';
  padding: 0 0.5em 0 0;
  display: inline-block;
  width: 1em;
  text-align: right;
  line-height: 0.5em;
}

dl.switch dt:after {
  content: " :";
}

/* Phrases */

code.comment {
  color: green;
  background-color: transparent;
}

/* XML Infoset-style information properties */
code.infoprop {
  color: inherit;
  background-color: transparent;
  font-weight: bolder;
  font-family: sans-serif;
}
code.infoprop:before {
  content: " [";
}
code.infoprop:after {
  content: "] ";
}

code.uri, code.URI, code.mail, code.newsgroup {
	font-size: smaller;
	font-style: italic;
	font-family: "Times New Roman", "Times", serif;
}

code.uri, code.URI, code.file,
h2005|code[class~="file"] {
  -moz-binding: url(/www/style/text/wrap.xbl#wbr-uri);
}

code.mail, code.newsgroup {
  -moz-binding: url(/www/style/text/wrap.xbl#wbr-dotted);
}

code.uri a:link, code.uri a:visited,
code.URI a:link, code.URI a:visited,
code.mail a:link, code.mail a:visited,
code.newsgroup a:link, code.newsgroup a:visited {
  border-style: none;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  font-style: inherit;
}

code.uri var, code.URI var, code.mail var, code.newsgroup var {
  border-style: none;
  font-style: normal;
  text-decoration: none;
}

dfn:lang(en) code.uri, dfn:lang(en) code.URI {
  font-style: normal;
}


h2002|code[class~="uri"]:before, h2002|code[class~="mail"]:before,
h2005|code[class~="uri"]:before, h2005|code[class~="mail"]:before {
	content: "<";
}
h2002|code[class~="uri"]:after, h2002|code[class~="mail"]:after,
h2005|code[class~="uri"]:after, h2005|code[class~="mail"]:after {
	content: ">";
}
/* Note.  Some XHTML 1 documents have enclosing "<" and ">" and
          others does not. */

h2002|code[class~="file"]:before, h2002|code[class~="file"]:after,
h2005|code[class~="file"]:before, h2005|code[class~="file"]:after {
  content: '"';
  color: graytext;
}

code.math, code[class~="uri"] {
	  font-family: "Times New Roman", "Times", serif;
}

/* Qualified Names */

.qname {
  -moz-binding: url(/www/style/text/wrap.xbl#wbr-qname);
}

.qname-prefix, abbr.qname-prefix {
  border-style: none;
  font-style: italic;
  font-family: "Times New Roman", "Times", serif;
  font-size: 90%;
  text-decoration: none;
  letter-spacing: 0.2em;  /* Times is narrower than Courier */
}

.qname-prefix[title="<http://www.w3.org/XML/1998/namespace>"],
.qname[title="<http://www.w3.org/XML/1998/namespace>"] > .qname-prefix {
  font-style: normal;
  font-family: "Courier New", "Courier", monospace;
  font-size: 100%;
  letter-spacing: inherit;
}

.qname-local-name {

}

/* ISO/IEC 10646 style character names */
.charname {
  text-transform: lowercase;
  font-variant: small-caps;
}

/* United numbers */
span.unit-number {

}

span.number {

}

span.unit, abbr.unit {
  border-bottom-style: none;
  padding-left: 0.2em;
}

/* ABNF Syntaxes */

code.ABNF {
  -moz-binding: url(/www/style/text/wrap.xbl#wbr-dotted);
}

dl.abnf {
  margin-left: 2em;
  margin-right: 2em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #F5DCB3;
  color: black;
  page-break-inside: avoid;
}

dl.abnf:before {
  content: "ABNF $B9=J8Dj5A(B";
  display: block;
  margin-bottom: 0.2em;
  border-bottom: 1px solid;
  padding-top: 0.4em;
  padding-bottom: 0.2em;
  font-weight: bolder;
  font-family: sans-serif;
}

dl.abnf > dt {
  float: left;
  clear: left;
  width: 12em;
  list-style: none;
  margin-left: 1em;
  padding-left: 0;
  font-family: inherit;
  font-weight: normal;
  font-style: normal;
}

dl.abnf > dd {
  margin-left: 1em;
  padding-left: 1em;
  text-indent: -1em;
}

dl.abnf code.ABNF {
  color: black;
  background-color: transparent;
}

dl.abnf dt dfn {
  border-style: none;
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
  text-decoration: none;
}

dl.abnf a:link[href^="#SYNTAX-"], dl.abnf a:visited[href^="#SYNTAX-"],
code.ABNF a:link[href^="#SYNTAX-"], code.ABNF a:visited[href^="#SYNTAX-"] {
  border-style: none;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

/* Citations */

cite.dc-title {

}
/* XML alternative: dc|title */

cite.dc-title:before,
cite.section cite.dc-title:before {
  content: " $B!X(B";
}

cite.dc-title:after,
cite.section cite.dc-title:after {
  content: "$B!Y(B ";
}

cite.dc-creator {

}
/* XML alternative: dc|creator */

cite.dc-creator:before, cite.dc-creator:after {
  content: "";
  content: normal;
}

cite.section:before {
  content: " $B!V(B";
}

cite.section:after {
  content: "$B!W(B ";
}

:lang(en) > cite.section {
  font-style: italic;
}

:lang(en) > cite.section:before {
  content: " $B!H(B";
}

:lang(en) > cite.section:after {
  content: "$B!I(B ";
}

:lang(en) > cite.section:lang(ja) {
  font-style: normal;
}

cite.bibref {
  vertical-align: 0.5em;
  font-style: inherit;
  font-size: 75%;
  line-height: 1.1;
  color: gray;
  background-color: transparent;
}

cite.bibref:before, cite.bibref:after {
  content: "" /* normal */;
}

cite.bibref a:link, cite.bibref a:visited {
  border-style: none;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

/* et. al */
.etal {
  font-style: normal; /* Not italic */
}

/* Emphasis */

/* Block emphasis */
.key-point {
  display: block;
  width: 70%;
  _width: 100%; /* WinIE */
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px rgb(228, 236, 236) solid;
  -moz-border-radius: 0.5em;
  padding: 1em;
  background-color: rgb(228, 236, 236);
  color: black;
}

span.weak, .example.memo span.weak {
  font-size: 80%;
  color: gray;
  background-color: transparent;
  opacity: 0.6;
}

@media print {
  span.weak, .example.memo span.weak {
    color: inherit;
    background-color: transparent;
  }
}

.note span.weak {
  color: #92BA89;
  background-color: transparent;
}

th span.weak, thead span.weak, tfoot span.weak {
  font-weight: normal;
  font-family: -moz-initial;
}

em.abbr, dfn em.abbr {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 0.03em;
  font-style: inherit;
  text-decoration: none;
}

em.rfc2119, em.rfc2119like {
  border-style: none;
  text-transform: lowercase;
  font-variant: small-caps;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  font-family: sans-serif;
}

em.rfc2119:lang(ja), em.rfc2119like:lang(ja) {
  font-weight: bolder;
  font-family: sans-serif;
  font-variant: normal;
}

em.m {
  color: inherit;
  background-color: #ffff80;
}
/* Alternate: html5:m */

/* Hyperlinks */

a:link[rel="glossary"], a:visited[rel="glossary"] {
  border-style: none;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  font-size: 100%;
}

@media screen {
  a:link[rel="glossary"], a:visited[rel="glossary"] {
    border-bottom: 1px dotted #FF0080;
    padding-bottom: 0.025em;
    cursor: help;
  }
}

/* Right Marks such as ^(R) and ^TM */
sup.right {
  vertical-align: 0.7em;
  font-size: 50%;
  line-height: 1.0;
}

/* Footer */

.footer, *|*[class~="footer"], sd|footer,
  /* Old styles (discouraged) */
  #footer, #FOOTER, body > address, body > .update, body > div.navigation,
  footer
{
  display: block;
  margin: 2em 0 0 0;
  border-top: gray 1px solid;
  padding-top: 10px;
}

/* Old style footer (discouraged) */
body address + .update,
body > div.navigation + div.update {
  margin: 0;
  border-top: gray 0 none;
  padding-top: 0;
}

@media print {
  div.navigation {
    display: none;
  }
}

.update, sd|update {
  display: block;
}

.update:before, *|*[class~="update"]:before, sd|update:before {
  content: "$B=$@5(B: ";
}
.update:lang(en):before, *|*[class~="update"]:lang(en):before,
sd|update:lang(en):before {
  content: "Modified: ";
}

/* Validated logo (discouraged) */
#w3c-html, #w3c-css {
  float: right;
  width: 88px;
  height: 31px;
  border: none;
}

/* License

Copyright 2003-2013 Wakaba <wakaba@suikawiki.org>.

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; see the file COPYING.  If not, write to
the Free Software Foundation, Inc., 59 Temple Place - Suite 330,
Boston, MA 02111-1307, USA.

*/

/* $Date: 2011/09/03 03:29:58 $ */
