/* A CSS Style Sheet for directory indexes */

@import '/www/style/html/xhtml';

body > h1 {
  margin-bottom: 0;
  text-align: left;
  font-style: italic;

  min-height: 75px;
  padding-right: 205px;
  background-image: url(/admin/logo/suikalogo); /* 200x70 */
  background-repeat: no-repeat;
  background-position: top right;
}

table {
  width: 100%;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  border-collapse: collapse;
  empty-cells: show;
}

tr {
  border-bottom: 1px #C0C0C0 solid;
}

th, td {
  border-width: 0;
}

th {
  background-color: #E5E5E5;
  color: black;
}

tr:nth-child(2n) {
  background-color: #F6F6F0;
  color: black;
}

h1 ~ table tr:nth-child(2),
h1 ~ table tr:nth-last-child(1) {
  display: none;
}

th:first-child,
td:first-child {
  width: 32px;
  text-align: center;
}

td:first-child a {
  border-bottom-width: 0;
}

th a,
td:nth-child(2) a {
  border-bottom-color: transparent;
}

th a {
  color: inherit;
}

th a:hover,
td:nth-child(2) a:hover {
  border-bottom-color: currentColor;
}

td:nth-child(3) {
  text-align: center;
}

th a,
td a {
  display: block;
}

table ~ address {
  margin-top: 0.5em;
  padding-top: 0.3em;
}

address {
  font-style: italic;
}

#files ul {
  -webkit-column-width: 10em;
  -moz-column-width: 10em;
  column-width: 10em;
}

#files ul li {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

#files .desc {
  display: block;
  font-size: 80%;
}

#images ul > li {
  display: inline-block;
  margin: .5em;
}

#images ul > li > * {
  display: block;
  text-align: center;
}

#images img {
  max-width: 10em;
  max-height: 10em;
}

/*

Author: Wakaba <wakaba@suikawiki.org>.
License: Per CC0 <https://creativecommons.org/publicdomain/zero/1.0/>,
to the extent possible under law, the author of the file has waived
all copyright and related or neighboring rights to the file.

*/
