@charset 'iso-2022-jp';
@namespace H3 'urn:x-suika-fam-cx:markup:ietf:html:3:draft:00:';
@namespace 'http://www.w3.org/1999/xhtml';
@namespace h1 'http://www.w3.org/1999/xhtml';
@namespace h2 'http://www.w3.org/2002/06/xhtml2';
@namespace h2005 'http://www.w3.org/2002/06/xhtml2/';
@namespace xml 'http://www.w3.org/XML/1998/namespace';

/* Footnote */

H3|fn {
  display: block;
  margin: 2em 1em 2em 5em;
    border: blue 1px dashed;
    padding: 0.8em;
    font-size: 85%;
    background-color: InfoBackground;
    color: InfoText;
    text-decoration: none;
}

  H3|fn:before {
    display: inline;
    content: "";
  }

  H3|fn :first-child {
    margin-top: 0;
    text-indent: 0 !important;
  }
  H3|fn :first-child:before {
    display: inline;
    content: "* " /*counter*/ ;
  }

  H3|fn :last-child {
    margin-bottom: 0;
  }

  p H3|fn, h2|p H3|fn, h2005|p H3|fn {
    display: inline;
    margin: 0; border-style: none; padding: 0;
    vertical-align: super;
    line-height: 1em;
    font-size: 50%;
    color: GrayText;
  }
  p H3|fn:before, h2|p H3|fn:before, h2005|p H3|fn:before {
    display: inline;
    content: "";
  }
  p H3|fn:after, h2|p H3|fn:after, h2005|p H3|fn:after {
    display: inline;
    content: ""; /*counter*/
  }

H3|note {
	display: block;
	margin: 0.3em 2em;
	padding: 0;
	color: green;
	background-color: transparent;
	font-style: normal;
}
H3|note > *|*:first-child:before {
	display: inline;
	content: "$BCm0U(B: ";
	font-weight: bolder;
	letter-spacing: 0;
	text-align: left;
}
H3|note:lang(en) {
/* NOTE: Selector should be "script=Latin" rather than "lang=en"
         if there would such a selector... */
	font-style: italic;
}
H3|note:lang(en) > *|*:first-child:before {
	content: "Note. ";
}
H3|note > h2005|p:first-child,
H3|note > h2|p:first-child {
	text-indent: -3em;
	margin-left: 3em;
}

/* License

Copyright 2003-2005 Wakaba <w@suika.fam.cx>.

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; see the file COPYING.  If not, write to
the Free Software Foundation, Inc., 59 Temple Place - Suite 330,
Boston, MA 02111-1307, USA.

*/

/* $Date: 2007/03/10 09:44:45 $ */
