<!DOCTYPE html>
<html lang="ja">
<head>
<title>HTML $BMQ%9%?%$%k!&%7!<%H(B</title>
<link rel="stylesheet" href="xhtml">
</head>
<body>
<h1>HTML $BMQ%9%?%$%k!&%7!<%H(B</h1>

<div class="ed"><p>...</p></div>

<section id="common-class">
<h2><code class="uri">common-class</code></h2>

<div class="ed"><p>...</p></div>

<dl>
<dt id="div-ed"><code lang="en">div.ed</code></dt>
  <dd>
    <p>$BJT=8<T$N%a%b$r5-=R$7$^$9!#(B</p>
    <p>$BFbMF%b%G%k$O(B <code>section</code> $B$HF1$8$G$9!#(B</p>
  </dd>
<dt id="div-label"><code lang="en"
    id="span-label">li > div.label, li > span.label</code></dt>
  <dd>
    <p>$BF~$l;R$N%j%9%H$N7;$H$7$F!"(B
    $B%j%9%H$N8+=P$7$"$k$$$O?F$H$J$kFbMF$r5-=R$7$^$9!#(B</p>
    <p>$B%j%9%H$,%V%m%C%/?e=`MWAG$J$i(B <code lang="en">div</code>,
    $B9TFbMWAG$J$i(B <code lang="en">span</code> $B$r;H$$$^$9!#(B</p>
    <p><code lang="en">div</code> $B$NFbMF%b%G%k$O(B <code>li</code>
    $B$HF1$8$G$9!#(B<code lang="en">span</code>
    $B$NFbMF%b%G%k$ODj5ADL$j$G$9!#(B</p>
    <p>HTML 3 $B$N(B <code lang="en">lh</code> $B$d(B
    XHTML 2 $B$N(B <code lang="en">label</code>
    $B$N$h$&$J$b$N$G$9$,!"MWAG$rCV$/>l=j$,>/$70[$J$j$^$9!#(B</p>
  </dd>
</dl>

</section>

</body>
</html>