@import 'xhtml.css';

html {
  margin-left: 2em;
  margin-right: 2em;
  counter-reset: head1;
}

head {
  display: block;
  padding: 1em 2em 0;
}

title {
  display: block;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-weight: bolder;
  font-size: 150%;
}

hr {
  display: none;
}

div[name=index] {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: -2em;
  width: 15em;
  padding: 0.2em 0.5em;
  background-color: #CDDFC9;
  color: black;
  border: 1px solid #BBCAB5
}

div[name=index]:before {
  content: "TABLE OF CONTENTS";
  display: block;
  font-family: "Arial", sans-serif;
  font-weight: bolder;
  font-size: 120%;
}

div[name=index] ul {
  margin: 0;
  padding: 0;
  counter-reset: tocitem;
}

div[name=index] ul li {
  margin: 0 0 0 1em;
  padding: 0;
}

div[name=index] ul li:before {
  counter-increment: tocitem;
  content: counter(tocitem) ". ";
}

h1 {
  margin-top: 1.5em;
  width: 60%;
  border-bottom: 1px gray solid;
  padding-bottom: 0.3em;
  text-align: left;
  font-family: "Arial", sans-serif;
  font-weight: bolder;
  font-size: 140%;
  -moz-binding: none !important; /* Don't use auto-toc */
}

h1:before {
  counter-increment: head1;
  content: counter(head1) ". ";
}

h2:before {
  content: "\0025B6" " ";
}

h3:before {
  content: "\0025B7" " ";
}

p {
  max-width: 40em;
  text-indent: 2em;
}

pre {
  border: 1px solid #CDDFC9;
  padding: 0.5em 0.5em 0.5em 0.1em;
  background-color: #f4fff4;
  color: black;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

pre + pre {
  margin-top: 1em;
}

li {
  display: block;
}

dl > dl {
  margin-left: 2em;
}

dt {
  display: block;
}

dd > p {
  margin-left: 0;
  text-indent: 0;
}

dd + dd > p:first-child {
/*
  text-indent: 2em;
*/
  /*
    pod2html generates <dd><p> for each paragraph in an =item part of the 
    =over/=item/=back block.
  */
}

em {
  /* I<> */
  border-style: none;
  font-style: italic;
  text-decoration: none;
}

/*

LICENSE

Copyright 2007-2011 Wakaba <w@suika.fam.cx>

This style sheet is free software; you can redistribute it and/or modify 
it under the same terms as Perl itself.

$Date: 2011/04/17 06:02:55 $

*/
