/*
  CSS Style Sheet for HTML Reports
*/

@import 'xhtml.css';
@namespace 'http://www.w3.org/1999/xhtml';
@namespace h2 'http://www.w3.org/2002/06/xhtml2/';

body > h2|h {
  font-size: 150%;
  text-align: center;
}

address {
  margin: 2em 0 2em 60% !important;
  border-style: none !important;
  font-size: 90%;
  line-height: 1.5;
}

h2|h[class~="report-question"] {
  line-height: 1.7;
  text-align: justify;
}

/* License

Copyright 2006 Wakaba <w@suika.fam.cx>.

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; see the file COPYING.  If not, write to
the Free Software Foundation, Inc., 59 Temple Place - Suite 330,
Boston, MA 02111-1307, USA.

*/

/* $Date: 2006/05/21 02:14:03 $ */
