html, th, td {
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

p {
  text-indent: 1em;
}

p:lang(en) {
  text-indent: 2em;
}

/* Hyperlinks */

form {
	border: blue 1px dashed;
	min-width: 2em;
	min-height: 1em;
}

a[href^="#"]:link, a[href^="#"]:visited {
  text-decoration: none !important;
  border-bottom: dotted 1px !important;
}

a:hover {
  background-color: #FFA;
  color: #000080;
}

base[target]:after, a[target]:after {
	content: " [" attr(target) "]";
	color: gray !important;
	background-color: white !important;
	text-decoration: none !important;
}
base[target][href]:after {
	content: " [<" attr(href) "> " attr(target) "]";
	color: gray !important;
	background-color: white !important;
	text-decoration: none !important;
}
a[href^="javascript:"]:after {
	content: " [JS]";
	color: gray !important;
	background-color: white !important;
	text-decoration: none !important;
}
a[onclick]:after {
	content: " [JS] ";
	color: gray !important;
	background-color: white !important;
	text-decoration: none !important;
	white-space: normal !important;
}
