/* A Style Sheet for Web Forms 2.0 */

@namespace 'http://www.w3.org/1999/xhtml';

form {
  margin-top: 1em;
  margin-bottom: 1em;
  border: #d2a6ff 1px dashed;
  padding: 0.5em;
}

form p {
  text-indent: 0;
}

input[type="text"], input[type="password"],
input[type="url"], input[type="email"] {
  width: 96%;
}

input[size][type=text], input[size][type=password],
input[size][type=url], input[size][type=email] {
  width: auto;
}

input[type=text]:not(:first-child),
input[type=password]:not(:first-child),
input[type=url]:not(:first-child),
input[type=email]:not(:first-child) {
  width: auto;
  min-width: 20em;
}

/*
input[title]:after {
  content: attr(title);
  color: green;
  background-color: transparent;
}

input[title]:lang(en):after {
  font-style: italic;
}
*/

textarea {
  width: 96%;
}

/* License

Copyright 2005-2009 Wakaba <w@suika.fam.cx>.

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; see the file COPYING.  If not, write to
the Free Software Foundation, Inc., 59 Temple Place - Suite 330,
Boston, MA 02111-1307, USA.

*/

/* $Date: 2009/03/08 15:15:40 $ */
