@charset 'iso-2022-jp';
@namespace 'http://www.w3.org/1999/xhtml';
@namespace xml 'http://www.w3.org/XML/1998/namespace';

html {
	display: block;
	line-height: 2.0;
}
head {
	display: none;
}

body {
	display: block;
	margin: 1em 1.5em;
}

blockquote, table {
  margin: 1em 2em;
}

h1, h2, h3, h4, h5, h6 {
	display: block;
	line-height: 1.5;
	font-size: 120%;
	font-weight: bolder;
  font-family: sans-serif;
  text-align: left;
}

@media print {
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }
}

h1 {
	text-align: center;
	font-size: 140%;
}

section h1 {
  text-align: left;
  font-size: 120%;
}

section section h1:before,
h3:before {
  content: "\0025B6" " ";
}

section section section h1:before,
h4:before {
  content: "\0025B7" " ";
}

p {
	display: block;
	text-indent: 1em;
	margin: 0 1em;
	text-align: justify;
}
p:lang(en) {
  text-indent: 2em;
}

ul, ol, dl {
	display: block;
  margin: 1em;
	padding: 0;
}

p + ul, p + ol, p + dl,
p > ul, p > ol, p > dl {
  margin-left: 3em;
}

dt, li {
	display: list-item;
	margin-left: 1em;
	padding-left: 0.5em;
  text-indent: 0;
  text-align: justify;
}
ul li {
  list-style: disc;
}
dt dt, ul li ul li {
	list-style: square;
}
ol li {
  list-style: decimal;
}
ol li ol li {
  list-style: lower-alpha;
}

li > ul:first-child, li > ol:first-child, li > dl:first-child,
dd > ul:first-child, dd > ol:first-child, dd > dl:first-child {
  margin-top: 0;
}

li > ul,
li > ol,
li > dl {
  margin-top: 0;
}

li > ul:last-child, li > ol:last-child, li > dl:last-child,
dd > ul:last-child, dd > ol:last-child, dd > dl:last-child {
  margin-bottom: 0;
}

dt {
  font-weight: normal;
  list-style: disc;
}

dd {
  display: block;
  margin-left: 0;
  padding-left: 3em;
  list-style-type: none;
}

@media print {
  dt {
    page-break-after: avoid;
  }
  dd {
    page-break-before: avoid;
  }
}

ul > li:first-child:last-child {
	list-style: disc;
}

li > p:first-child,
dd > p:first-child {
  text-indent: 0;
}

blockquote {
	display: block;
	border-left: 1em double rgb(204, 0, 0);
	padding-left: 1em;
}

blockquote > cite {
  display: block;
  margin-right: 2em;
  text-align: right;
}
/* XML Alternate: H3|credit */

blockquote > cite:before {
  display: inline;
  content: "$B!=!=(B " !important;
}
blockquote > cite:after {
  display: inline;
  content: "" !important;
}

table {
	margin-left: auto;
	margin-right: auto;
}

/* Sections */

section, article, nav, aside,
header, footer {
  display: block;
}

hr {
  visibility: hidden;
}

/* Physical Blocks */

pre {
  display: block;
  margin: 0 1em;
  overflow: auto;
  font-family: "Courier New", "Courier", monospace;
}

/* Phrase */

code {
	font-family: "Courier New", "Courier", monospace;
	letter-spacing: 0.1em;
  background-color: transparent;
  color: orangered;
}

var {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 0.025em;
  font-style: normal;
  text-decoration: none;
}
var:lang(en) {
  border-bottom-style: none;
  font-family: "Times New Roman", serif;
  font-style: italic;
  text-decoration: none;
}

dfn:lang(en) > var:lang(en):only-child {
  font-style: inherit;
}

/* Abbrevitions */
abbr[title] {
  border-style: none;
  text-transform: none;
  font-variant: normal;
  font-style: normal;
  font-size: 100%;
}

dfn:lang(en) abbr[title] {
  font-style: italic;
}

@media screen {
  abbr[title] {
    border-bottom: 1px dotted #FF0080;
    padding-bottom: 0.025em;
    cursor: help;
  }
}

/* Defining Instances */
dfn {
	font-style: normal;
	font-weight: bolder;
  /* font-family: sans-serif; */
  font-size: 100%;
}
dfn:lang(en) {
  font-style: italic;
  font-weight: normal;
  /* font-family: "Times New Roman", "Times", serif; */
}

dfn:lang(en) dfn:lang(en) {
  font-style: normal;
}

dfn:lang(en) em {
  font-style: normal;
}

/* One of the last resorts */
i:lang(en) {
  font-style: italic;
  text-decoration: none;
}

i:lang(es) {
  font-style: italic;
  text-decoration: none;
}

/* Term instance (HTML5) */
/* Though this definition is now obsolete, some old documents
   have used it. */
i {
  border-style: none;
  font-style: normal;
  font-size: 100%;
  text-decoration: none;
}

/* Inputs */
kbd {
  margin: 0 0.3em;
  border: dotted #C0C0C0 1px;
  padding: 0.2em 0.3em;
  font-family: "Courier New", "Courier", monospace;
  font-size: 100%;
  line-height: 1.1;
}

em {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 0.03em;
	font-style: normal;
  text-decoration: none;
  font-size: 100%;
}

em:lang(en) {
  border-bottom-style: none;
  font-style: italic;
  text-decoration: none;
}

em:lang(en) :lang(ja) {
  font-style: normal;
}

strong {
  font-weight: bolder;
  font-family: sans-serif;
}
/* Alternate: h1|em */

/* HTML5 <mark> */
m, mark {
  text-decoration: underline;
  background-color: #ffff4d;
}

mark:empty:before {
  content: "\A0";
}
/*
  NOTE: For compatibility with old documents that use |m| as
  element names, we keep |m| in the selector as is.
*/

/* Citations and quotations */

/*
 * $B8@8l>pJs$G>l9gJ,$1$9$k$N$O@5$7$/$J$$$,!"8=:_$N(B CSS
 * $B$K$OMQ;z7O$NA*Br;R$,$J$$$+$i!"6a;wE*$K$3$l$r;H$&!#(B
 */

:lang(ja) > cite {
  quotes: none;
	font-style: normal;
}
:lang(ja) > cite:before {
  content: "$B!X(B";
}
:lang(ja) > cite:after {
  content: "$B!Y(B";
}

cite:lang(ja) cite {
  quotes: none;
}
cite:lang(ja) cite:before { content: "$B!V(B" }
cite:lang(ja) cite:after { content: "$B!W(B" }

[lang|="en"] cite, [xml|lang|="en"] cite {
	quotes: none;
	font-style: italic;
}
[lang|="en"] cite cite, [xml|lang|="en"] cite cite {
	quotes: none;
	font-style: normal;
}
[lang|="en"] cite:before, [xml|lang|="en"] cite:before,
[lang|="en"] cite:after, [xml|lang|="en"] cite:after {
  content: "";
  content: normal;
}

:lang(ja) > q {
  quotes: none;
}
:lang(ja) > q:before {
  content: " $B!V(B";
}
:lang(ja) > q:after {
  content: "$B!W(B ";
}

:lang(ja) > q q:before {
  content: " $B!X(B";
}

:lang(ja) > q q:after {
  content: "$B!Y(B ";
}

:lang(en) > q {
  quotes: none;
}

:lang(en) > q:before {
  content: " $B!H(B";
}

:lang(en) > q:after {
  content: "$B!I(B ";
}

/* Tables */

table {
  border: 1px solid gray;
  border-spacing: 0;
}

thead, tfoot, th {
  font-weight: bolder;
  font-family: sans-serif;
}

td, th {
  padding: 0.2em 0.4em;
  border: 1px solid #E0E0E0;
  empty-cells: show;
}

th[scope="row"], th[scope="rowgroup"] {
  text-align: left;
  border-right: 1px solid #C0C0C0;
}
th[scope="col"], th[scope="colgroup"] {
  text-align: center;
  border-bottom: 1px solid #C0C0C0;
}

/* Subscripts and Superscripts */

sub {
  vertical-align: sub;
  font-size: 80%;
}
sup {
  vertical-align: top;
  font-size: 80%;
}


/* Edit */

ins {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 0.03em;
  background-color: rgb(255, 255, 153);
  color: black;
  font-style: normal;
  text-decoration: none;
}

body > ins {
  display: block;
  text-decoration: none;
}

del {
  background-color: #FFBBBB;
  color: black;
  font-size: 80%;
  text-decoration: line-through;
}

body > del,
p + del,
dl + del {
  display: block;
}

/* Footer */

address {
  font-style: normal;
  font-size: 100%;
}

/* Hyperlinks */

a:link, a:visited {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 0.05em;
}

[href^="#"]:link, [href^="#"]:visited {
  text-decoration: none !important;
  border-bottom: dotted 1px !important;
}

a:hover {
  background-color: #FFA;
  color: #000080;
}

a[rel~=feed] {
  background-image: url(../images/feed); /* 16x16 */
  background-repeat: no-repeat;
  background-position: left center;
  margin-left: 4px;
  padding-left: 20px;
}

/* Forms */

textarea {
  vertical-align: top;
}

/* License

Copyright 2003-2011 Wakaba <w@suika.fam.cx>.

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; see the file COPYING.  If not, write to
the Free Software Foundation, Inc., 59 Temple Place - Suite 330,
Boston, MA 02111-1307, USA.

*/

/* $Date: 2011/09/03 03:26:31 $ */
