@namespace 'http://www.w3.org/2002/06/xhtml2';
@namespace h2 'http://www.w3.org/2002/06/xhtml2';

/* Status: OBSOLETE (Use <xhtml2-2005.css> with new XHTML 2 namespace URI) */

h2|html {
	display: block;
  margin-right: 0.3em;
  border-right: red 2px solid;
	line-height: 2.0;
}
head {
	display: block;
	max-width: 0;
	max-height: 0;
	visibility: hidden;
	overflow: hidden;
}

title {
	display: inline;
	-moz-binding: url(../ui/title.xbl#title);
}

link {
	display: inline;
	-moz-binding: url(xhtml2-translate.xbl#copy-as-child);
}

meta {
	display: inline;
	-moz-binding: url(xhtml2-translate.xbl#meta);
}

body {
	display: block;
	margin: 1em 1.5em;
}

section {
	display: block;
	margin: 1em 0.5em;
}

section + section {
	margin-top: 1em;
}

h {
	display: block;
	margin-left: -0.5em;
	margin-bottom: 0.5em;
	font-size: 120%;
	font-weight: bolder;
	line-height: 1.2;
  text-align: left;
}

body > h {	/* h1 */
	margin-left: 2em;
	margin-right: 2em;
	text-align: center;
	font-size: 140%;
}

section section h:before /* h3 */ {
  content: "\0025B6" " ";
}

section section section h:before /* h4 */ {
  content: "\0025B7" " ";
}

/* Paragraphs */

p {
	display: block;
	margin: 0.3em 0;
	padding: 0;
	text-indent: 1em;
	text-align: justify;
}
p:lang(en) {
  text-indent: 2em;
}

l {
	display: block;
}

blockquote, blockcode {
	display: block;
}

div {
  display: block;
  margin: 0.3em 0;
  padding: 0;
}

blockcode, code, samp, kbd {
	font-family: "Courier New", "Courier", monospace;
	letter-spacing: 0.1em;
}

/* Phrases */

var {
	font-style: italic;
}
dfn {
	font-weight: bolder;
}

/* List */

ul, ol, nl {
	display: block;
}
li {
	display: list-item;
	margin-left: 2em;
	padding-left: 0.5em;
}

ul > label, ol > label, nl > label {
	display: block;
	font-weight: bolder;
	text-decoration: underline;
}

dl {
	display: block;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	padding: 0;
}
di {
	display: block;
	margin: 0.3em 1em;
	padding: 0;
}
dt {
	display: list-item;
  list-style-type: disc;
	margin: 0;
	padding: 0 0 0 0.5em;
}
dd {
	display: block;
	margin: 0 0 0 3em;
	padding: 0;
  overflow: auto;
}

/* dl old style */
/* Note. dl should have di */
dl > dt {
	margin: 0.3em 0 0 0;
	border-right: red 2px solid;
}
dl > dd {
	margin: 0 0 0.3em 3em;
	border-right: red 2px solid;
}

/* Link */
[href] {
	color: blue;
	cursor: pointer;
	text-decoration: none !important;
	border-style: hidden;
	border-width: 1px;
	border-color: blue;
}
[href] {
	color: -moz-hyperlinktext;
	border-color: -moz-hyperlinktext;
	-moz-binding: url(xhtml2-translate.xbl#href);
}
[href]:hover {
	color: inherit;
	border-style: solid;
	border-width: 1px;
	border-color: red;
}
[href]:active {
	color: -moz-activehyperlinktext;
}

/*
 * $B8@8l>pJs$G>l9gJ,$1$9$k$N$O@5$7$/$J$$$,!"8=:_$N(B CSS
 * $B$K$OMQ;z7O$NA*Br;R$,$J$$$+$i!"6a;wE*$K$3$l$r;H$&!#(B
 */

[xml|lang|="ja"] cite {
	quotes: "$B!X(B" "$B!Y(B" "$B!V(B" "$B!W(B";
	font-style: normal;
}
[xml|lang|="ja"] cite:before {
	content: open-quote;
}
[xml|lang|="ja"] cite:after {
	content: close-quote;
}
[xml|lang|="en"] cite {
	quotes: none;
	font-style: italic;
}
[xml|lang|="en"] cite cite {
	quotes: none;
	font-style: normal;
}
[xml|lang|="en"] cite:before,
[xml|lang|="en"] cite:after {
  content: "";
  content: normal;
}

var {
	font-style: italic;
	text-decoration: none;
}
var:lang(ja) {
	font-style: normal;
	text-decoration: underline;
}
var:lang(en) {
	font-family: "Times New Roman", serif;
}

th[scope="row"] {
		text-align: left;
}
th[scope="col"] {
		text-align: center;
}

/* Edit */

h2|*[edit="inserted"] {
  background-color: rgb(255, 255, 153);
  color: black;
}

h2|*[edit="deleted"] {
  background-color: #FFBBBB;
  color: black;
}

h2|*[edit="changed"] {
  background-color: rgb(153, 255, 153);
  color: black;
}

h2|*[edit="moved"] {

}

/* License

Copyright 2003-2005 Wakaba <w@suika.fam.cx>.

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; see the file COPYING.  If not, write to
the Free Software Foundation, Inc., 59 Temple Place - Suite 330,
Boston, MA 02111-1307, USA.

*/

/* $Date: 2005/12/13 13:26:11 $ */
