<?xml version="1.0" encoding="iso-2022-jp"?>
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
<title>Mozilla $B$G4JC1$KMWAG$NH"$r0\F02DG=$K$9$k(B XBL $BItIJ(B</title>
<link rel="contents" href="#toc" title="$B$3$NJ8=qFb$NL\<!(B" />
<link rev="made" href="mailto:wakaba@suikawiki.org" />
<link rel="copyright" href="data:,Public%20Domain%2E" title="Public Domain." />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="Mozilla, HTML, XHTML, CSS, XML, XBL, drag, drop, element, box, -moz-binding, mouse, move, $B%I%i%C%0(B, $B%I%m%C%W(B, $BMWAG(B, $B%(%l%a%s%H(B, $B%\%C%/%9(B, $BH"(B, $B0\F0(B, $B%^%&%9(B, Firefox, WinIE, IE, Internet Explorer, HTC" />
<link rel="stylesheet" href="/www/style/html/xhtml" media="all" />
<style type="text/css" media="screen">
h1 {
  display: block;
  -moz-binding: url('https://suika.suikawiki.org/www/style/ui/drag.xbl#simple-drag');
  behavior: url('https://suika.suikawiki.org/www/style/ui/drag.htc');
}
h1.DRAGABLE {
  position: fixed;
  top: 0.3em; left: 4em; right: 0.5em;
  margin: 0;
  cursor: move;
}
h1.DRAGABLE.MSIE {
  position: absolute;
}
h1.DRAGING {
  color: GrayText;
  background-color: transparent;
}
</style>
</head>
<body>
<h1><span lang="en" xml:lang="en">Mozilla</span> 
$B$G4JC1$KMWAG$NH"$r0\F02DG=$K$9$k(B <abbr lang="en" xml:lang="en">XBL</abbr> 
$BItIJ(B</h1>

<div class="section" id="abstract">
<h2>$B35MW(B</h2>

<p><dfn><code class="file" lang="en" xml:lang="en">drag.xbl</code></dfn>$B$O!"(B 
<span lang="en" xml:lang="en">Mozilla</span> $B$G(B 
<abbr lang="en" xml:lang="en">HTML</abbr> $BJ8=q$rI=<($9$k:]$K!"(B 
<!--<abbr lang="en" xml:lang="en">CSS</abbr> 
$B$r;H$C$F(B-->$BFCDj$NMWAG$r%^%&%9$N%I%i%C%0$G1\Mw<T$,0\F02DG=$K$9$k$?$a$N(B 
<abbr lang="en" xml:lang="en">XBL</abbr> $BItIJ$G$9!#(B
$BJ8=q$NCx<T$O<j7Z$KMWAG$r%I%i%C%02DG=$K$G$-$^$9!#(B</p>
</div>

<div class="section" id="introduction">
<h2>$B$O$8$a$K(B</h2>

<p><span lang="en" xml:lang="en">Web</span> $B$N%O%$%Q!<%F%-%9%HJ8=q$G$O!"(B
$B%5%$%HFb$dJ8=qFb$N0FFb$dJ8=q$NFbMF$K4X$9$kJd=u(B ($B>\:Y(B)
$B>pJs$J$I$N(B<q>$B=>(B</q>$B$H$J$kFbMF$,4^$^$l$F$$$k$3$H$,B?!9$"$j$^$9!#(B
<span lang="en" xml:lang="en">Web $B%V%i%&%6(B</span>$B$GJ8=q$rI=<($9$k;~$K$3$N$h$&$J>pJs$r>o;~I=<($7$F$*$$$?J}$,MxJX@-$,9b$$$3$H$b$"$j$^$9$,!"(B
$B$=$N$?$a$KK\J8$NI=<(NN0h$,69$^$C$?$j!"(B
$BK\J8$N>e$KHo$5$C$?$j$7$F!"$+$($C$F8+$K$/$/$J$k$3$H$b$"$j$^$9!#(B</p>

<p>$B$3$NLdBj$N0l$D$N2r7h:v$O!"J8=q$NJd=uE*$JMWAG$r%^%&%9$N%I%i%C%0$K$h$C$F0\F02DG=$H$9$k$3$H$G$9!#(B
$B0lHL$K%W%m%0%i%`$G$h$/;H$&5!G=$r=8$a$?%\%?%s$r%I%i%C%02DG=$J>.$5$JAk$KF~$l$F$*$/$H$$$&J}K!$O$h$/MQ$$$i$l$F$*$j!"(B
$B8+$?L\$5$(E,@Z$K@_7W$9$l$PMxMQ<T$bDq93$J$/MxMQ$9$k$3$H$,$G$-$k$O$:$G$9!#(B
$B$7$+$7!"8=:_J8=qFb$NMWAG$r%I%i%C%02DG=$K$9$k$?$a$NI8=`E*$JJ}K!$OB8:_$;$:!"(B
$BCx<T$,J8=q$4$H$K%9%/%j%W%H$rMQ$$$F<BAu$9$kI,MW$,$"$j$^$7$?!#(B</p>

<p><a href="http://www.mozilla.org/" xml:lang="en" lang="en">Mozilla</a> 
<span class="weak">($B$H$$$&$+(B <span lang="en" xml:lang="en">Gecko</span>)</span>
$B$O!"(B <a href="http://www.w3.org/TR/xbl/" xml:lang="en" lang="en">XBL</a>
$B$H$$$&8@8l$r;H$C$FMWAG$NI=8=$r@)8f$G$-$^$9!#(B
<a href="http://www.w3.org/" xml:lang="en" lang="en"><abbr>W3C</abbr></a> $B$N(B 
<abbr lang="en" xml:lang="en">CSS</abbr> $B?e=`(B 2 $B$G$OI=<($K$D$$$F$O4pK\E*$K(B
<q>$B@EE*(B</q>$B$J;XDj$7$+$G$-$^$;$s!#(B
$B$7$+$7(B <abbr lang="en" xml:lang="en">XBL</abbr> $B$HAH$_9g$o$;$k$3$H$K$h$j!"(B
$B>r7oH=CG$r4^$a$?$j1\Mw<T$NA`:n$K1~$8$?F0:n$r9T$C$?$j$9$k$3$H$,2DG=$K$J$j$^$9!#(B
<span class="weak">($B<B:]$K8=:_$N(B Mozilla $B$K$O!"0\F0J8;z(B 
<span class="weak" lang="en" xml:lang="en">(marquee)</span> $B$,(B 
<abbr lang="en" xml:lang="en">XBL</abbr> $B$r;H$C$F<BAu$5$l$F$$$^$9!#(B)</span></p>

<p><a href="https://suika.suikawiki.org/www/style/ui/drag.xbl" type="application/xml"><code xml:lang="en" lang="en" class="filename">drag.xbl</code></a>
$B$O!"MWAG(B
<span class="weak">($B$KBP1~$9$k(B<ruby><rb>$BH"(B</rb><rp>(</rp><rt xml:lang="en" lang="en">$B%\%C%/%9(B</rt><rp>)</rp></ruby>)</span>
$B$r1\Mw<T$,%^%&%9$N%I%i%C%0$K$h$j0\F02DG=$H$9$k$?$a$N(B 
<abbr lang="en" xml:lang="en">XBL</abbr> $BItIJ$G$9!#(B
$BF1$8$3$H$O(B JavaScript $B$rJ8=q$KD>@\Kd$a9~$s$G$b<B8=$G$-$^$9(B
<span class="weak">($B$7<B:]$h$/;H$o$l$F$$$^$9(B)</span> $B$,!"(B 
<abbr lang="en" xml:lang="en">XBL</abbr> 
$B2=$7$F(B <abbr lang="en" xml:lang="en">CSS</abbr> $B$rDL$7$F;XDj$9$k$3$H$K$O!"(B
$B$?$H$($P<!$N$h$&$JMxE@$,$"$j$^$9!#(B</p>

<ul>
<li>$B;HMQ$9$kJ8=q(B (<abbr lang="en" xml:lang="en">HTML</abbr> 
<del cite="#FOR-XML">$B$,IaDL$G$9$,!"(B
$B0lHL$N(B <abbr lang="en" xml:lang="en">XML</abbr> 
$BJ8=q$G$b5!G=$9$k$H;W$$$^$9!#(B</del>)
$B$K%9%/%j%W%H$rKd$a9~$`I,MW$,$J$$(B ($B9=B$$HI=8=$NJ,N%(B)$B!#(B
$B$3$l$K$h$C$FJ8=q$N4IM}$,$7$d$9$/$J$k!#(B</li>
<li>$BE,MQBP>]$NMWAG$r(B <abbr lang="en" xml:lang="en">CSS</abbr> 
$B$N(B<ruby><rb>$BA*Br;R(B</rb><rp>(</rp><rt xml:lang="en" lang="en">$B%;%l%/%?(B</rt><rp>)</rp></ruby>$B$r;H$C$F=@Fp$K;XDj$G$-$k!#(B</li>
<li>$B1\Mw<T$N%9%?%$%k!&%7!<%H$r;H$C$FG$0U$NJ8=q$KE,MQ$5$;$?$j!"(B
$B5U$KE,MQ$rBG$A>C$7$?$j$G$-$k!#(B</li>
</ul>

<p>$B$^$?!"0\F0Cf$N%9%?%$%k(B 
<span class="weak">($B$?$H$($P!"%^%&%9;X<(;R$r0\F0;~$N$b$N$H$9$k$H$+!#(B)</span> 
$B$r(B <abbr lang="en" xml:lang="en">CSS</abbr> $B$r;H$C$F;XDj$9$k$3$H$,$G$-$^$9!#(B</p>
</div>

<div class="section" id="usage">
<h2>$B;H$$J}(B</h2>

<ol>
<li>$B$^$:!"(B <a href="https://suika.suikawiki.org/www/style/ui/drag.xbl" type="application/xml"><code xml:lang="en" lang="en" class="filename">drag.xbl</code></a>
$B$r;}$C$F$$$C$F$/$@$5$$!#(B</li>
<li><abbr lang="en" xml:lang="en">CSS</abbr> 
$B7A<0$N%9%?%$%k!&%7!<%H$G>e5-J8=q$rMQ0U$7$?(B 
<span lang="en" xml:lang="en">URI</span> $B$r<!$NNc$N$h$&$K=q$-F~$l$^$9!#(B
<span class="weak">($B$J$*!"$3$3$G;HMQ$7$F$$$k(B 
<code class="CSS">-moz-binding</code>
$BB0@-$O(B <span lang="en" xml:lang="en">Mozilla</span> 
(<span lang="en" xml:lang="en">Gecko</span>)</span> $B$NFH<+3HD%$G$9!#(B
<a href="http://www.mozilla.gr.jp/">$B$b$8$iAH(B</a>$B$N(B
<cite><a href="http://www.mozilla.gr.jp/standards/webtips0001.html">Mozilla$B$NFH<+3HD%(BCSS$B$O;H$o$J$$$G$/$@$5$$(B</a></cite>$B$H$$$&J8=q$KL\$rDL$7$FM}2r$7$?>e$G$*;H$$2<$5$$!#(B)</li>
<li>$B0\F02DG=;~5Z$S0\F0;~$N%9%?%$%k$r!"I,MW$K1~$8$F0l=o$K;XDj$7$F$*$-$^$9!#(B</li>
</ol>

<div class="fig example">

<div class="fig-body">
<pre class="CSS" xml:lang="en" lang="en">
<var>.movable-element</var> {
  -moz-binding: url('<a href="https://suika.suikawiki.org/www/style/ui/drag.xbl#simple-drag" type="application/xml">https://suika.suikawiki.org/www/style/ui/drag.xbl#simple-drag</a>');
}
<ins xml:lang="ja" lang="ja" class="comment">/* $B0\F02DG=$J;~!"5i(B <code xml:lang="en" class="HTML">DRAGABLE</code> $B$,DI2C$5$l$^$9!#(B */</ins>
<var>.movable-element</var>.DRAGABLE {
  position: absolute <ins xml:lang="ja" lang="ja" class="comment">/* $B$^$?$O(B <code class="CSS" xml:lang="en" lang="en">fixed</code> */</ins>;
  margin: 0 <ins xml:lang="ja" lang="ja" class="comment">/* $B0LCV7W;;$NET9g>e(B 0 $B$G$J$$$H$$$1$^$;$s!#(B */</ins>;
  <samp>top: 4em; <ins xml:lang="ja" lang="ja" class="comment">/* $BNc!#(B */</ins></samp>
  <samp>left: 1em;</samp>
}
<ins xml:lang="ja" lang="ja" class="comment">/* $B0\F0Cf$N;~!"5i(B <code xml:lang="en" lang="en" class="HTML">DRAGING</code> $B$,DI2C$5$l$^$9!#(B */</ins>
<var>.movable-element</var>.DRAGING {
  <samp>cursor: move; <ins xml:lang="ja" lang="ja" class="comment">/* $BNc!#(B */</ins></samp>
}
</pre>
</div><!-- fig-body -->

<div class="caption">$B%I%i%C%02DG=$K$9$k(B
<abbr lang="en" xml:lang="en">CSS</abbr> $B$N;XDj(B</div>

</div><!-- fig -->

</div><!-- section -->

<div class="section" id="restriction">
<h2>$B@)8B;v9`(B</h2>

<ul>
<li><abbr lang="en" xml:lang="en">XBL</abbr> $B$r<BAu$7$?MxMQ<T%(!<%8%'%s%H(B 
<span class="weak">($B8=:_$N=j(B <span lang="en" xml:lang="en">Gecko</span> 
$B$N$_!#(B)</span>
$B0J30$KBP$7$F$O2?$N8z2L$b$"$j$^$;$s!#(B</li>
<li>$B0\F0$9$kH"$N(B <code xml:lang="en" lang="en" class="CSS">margin</code>
$B$O(B ($B>/$J$/$F$b:8$H>e$O(B) $BNm$G$J$1$l$P$J$j$^$;$s!#(B</li>
<li>$B$&$C$+$j(B <code class="CSS" lang="en" xml:lang="en">-moz-binding</code>
$B$H0l=o$K(B
<samp lang="en" xml:lang="en" class="CSS">behavior: url('<a href="https://suika.suikawiki.org/www/style/ui/drag.htc" type="application/xml">https://suika.suikawiki.org/www/style/ui/drag.htc</a>')</samp>
$B$H$b=q$$$F$7$^$&$H!"(B <abbr lang="en" xml:lang="en" title="Windows $BHG(B Internet Explorer">WinIE</abbr>
$B$K$bBP1~$7$F$7$^$$$^$9(B<span class="aa">:)</span> 
</li>
<li id="FOR-XML">$BE,MQ$G$-$kMWAG7?$O(B <abbr lang="en" xml:lang="en">HTML</abbr>
/ <abbr lang="en" xml:lang="en">XHTML</abbr>
$B$N$b$N$@$1$G!"0lHL$N(B <abbr lang="en" xml:lang="en">XML</abbr> 
$B$NMWAG$K$OE,MQ$G$-$^$;$s!#(B
($B0lHL$N(B <span lang="en" xml:lang="en">XML</span> $B$NMWAG$NI=<(0LCV$r(B 
<abbr lang="en" xml:lang="en">DOM</abbr> 
$BE*$KA`:n$9$kJ}K!$,:#$N$H$3$m$J$$$+$i$G$9!#(B)</li>
</ul>
</div>

<div class="section" id="license">
<h2 lang="en" xml:lang="en">License</h2>

<ul>
<li><span lang="en" xml:lang="en">Mozilla</span> $B4X78$N%U%!%$%k$KJo$C$F!"(B 
<q><abbr lang="en" xml:lang="en">MPL</abbr> 1.1/<abbr lang="en" xml:lang="en">GPL</abbr>
2.0/<abbr lang="en" xml:lang="en">LGPL</abbr> 2.1</q> $B$H$7$^$9!#(B</li>
<li>$B$3$N@bL@J8=q<+BN$O(B <span lang="en" xml:lang="en">Public Domain</span> $B$G$9(B 
<span class="weak">($BCx:n8"$r<gD%$7$^$;$s(B)</span>$B!#(B</li>
</ul>
</div>

<div class="section" id="toc">
<h2>$BL\<!(B</h2>

<ol>
<li><a href="#abstract">$B35MW(B</a></li>
<li><a href="#introduction">$B$O$8$a$K(B</a></li>
<li><a href="#usage">$B;H$$J}(B</a></li>
<li><a href="#restriction">$B@)8B;v9`(B</a></li>
<li><a href="#license" lang="en" xml:lang="en">License</a></li>
</ol>
</div>

<div class="footer">
<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
</div>
<div class="update" lang="en" xml:lang="en">$Date: 2005/02/15 10:42:41 $</div>
</div>

</body></html>
