@namespace h1 'http://www.w3.org/1999/xhtml';
@namespace h2 'http://www.w3.org/2002/06/xhtml2';
@namespace h2005 'http://www.w3.org/2002/06/xhtml2/';
@namespace ab 'http://suika.fam.cx/~wakaba/archive/2004/12/6/ab#';

h1|html, h2|html, h2005|html {
  padding-left: 7em;
}

h1|abbr[title], h2|abbr[title], h2005|abbr[title], h1|acronym[title],
.with-title-annotation[title] {
  -moz-binding: url(https://suika.suikawiki.org/www/style/ui/sidenote.xbl#abbr);
}

ab|note {
  display: block;
  position: absolute;
  top: auto;
  left: 0.5em;
  width: 9em;
  margin: 1px;
  border: 1px dotted green;
  padding: 2px;
  font-size: 70%;
  line-height: 110%;
  text-indent: 0;
  text-align: left;
}
ab|note:hover {
  background-color: #fbfffd;
  color: black;
  z-index: 10000;
}
ab|note ab|caption {
  display: inline;
  font-weight: bolder;
}
ab|note ab|caption:after {
  content: ": ";
}
ab|note ab|desc {
  display: inline;
  text-indent: 0;
}
ab|note:hover + [title] {
  background-color: #ffb3d9;
  color: black;
}

/* License

Copyright 2004 Wakaba <wakaba@suikawiki.org>.

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; see the file COPYING.  If not, write to
the Free Software Foundation, Inc., 59 Temple Place - Suite 330,
Boston, MA 02111-1307, USA.

*/

/* $Date: 2005/07/25 10:58:26 $ */
