<html xmlns="http://www.w3.org/1999/xhtml"
  lang="ja" xml:lang="ja">
<head>
<title>$BK5CmMQ$N%9%?%$%k!&%7!<%H(B</title>
<link rel="stylesheet" href="../html/xhtml1" media="all" />
<link rel="stylesheet" href="../html/common-class" media="all" />
<link rel="stylesheet alternate" href="sidenote-style-left" media="all"
  title="$B:8K5Cm(B" />
<link rel="stylesheet" href="sidenote-style-right" media="all"
  title="$B1&K5Cm(B" />
<link rev="made" href="/~wakaba/who?" title="$B$o$+$P(B" />
<meta name="author" content="$B$o$+$P(B" />
<link rel="copyright" href="/c/gnu/fdl" title="GNU FDL" />
</head>
<body>
<h1>$BK5CmMQ$N%9%?%$%k!&%7!<%H(B</h1>

<div class="section" id="ABSTRACT">
<h2>$B35MW(B</h2>

<p>$B$3$NJ8=q$G$O!"K5CmMQ$N%9%?%$%k!&%7!<%H$K$D$$$F@bL@$7$^$9!#(B</p>
</div>

<div class="section" id="INTRODUCTION">
<h2>$B$3$l$O2?(B?</h2>

<p><abbr lang="en" xml:lang="en" title="Hypertext Markup Language">HTML</abbr>
$BJ8=qCf$NN,8l(B (<code class="HTMLe" lang="en" xml:lang="en">abbr</code>) 
$B$d(B<span class="with-title-annotation" title="$B$3$3$G$$$&!VCm<a!W$O!"(B SGML $B$NCm<a@k8@$G$O$J$/!"0lHLE*$J0UL#$N!VCm<a!W$G$9!#(B">$BCm<a(B</span>$B$rK5Cm$H$7$FI=<($9$k$?$a$N%9%?%$%k!&%7!<%H$G$9!#(B</p>
<p>$B<B:]$N=hM}$H$7$F$O!"(B <abbr lang="en" xml:lang="en"
title="XML Binding Language">XBL</abbr> $BFb$N(B 
<span lang="en" xml:lang="en">JavaScript</span> $B$N%3!<%I$K$h$C$F;XDj$5$l$?MWAG$N(B
<code class="HTMLa" lang="en" xml:lang="en">title</code> 
$BB0@-$NCM$r%@%_!<$NMWAG@a$KJ#@=$7$F$$$^$9!#(B
$B$3$N%@%_!<$NMWAG@a$r(B <abbr lang="en" xml:lang="en"
title="Cascading Style Sheets">CSS</abbr> 
$B$N%9%?%$%k;XDj$K$h$jK5Cm$H$7$FI=<($7$^$9!#(B</p>
</div>

<div class="section" id="UA">
<h2>$BBP1~MxMQ<T%(!<%8%'%s%H(B</h2>

<p>$B$3$N%9%?%$%k!&%7!<%H$O!"(B <abbr lang="en" xml:lang="en"
title="XML Binding Language">XBL</abbr> $B$*$h$S(B <abbr lang="en" xml:lang="en"
title="Cascading Style Sheets">CSS</abbr> $B?e=`(B2$B!"$=$l$K(B
<code class="CSS" lang="en" xml:lang="en">-moz-binding</code> 
$BFC@-$r;HMQ$7$F$$$^$9!#(B</p>
<p>$B$3$l$i$KBP1~$7$?%V%i%&%6$H$7$F$O!"(B 
<a href="http://www.mozilla.org/products/firefox/" lang="en" 
xml:lang="en">Mozilla Firefox</a>
$B$J$I(B <span lang="en" xml:lang="en">Gecko</span> $B7O$,5s$2$i$l$^$9!#(B</p>
</div>

<div id="FILES" class="section">
<h2>$B4XO"%U%!%$%k(B</h2>

<dl>
<dt><a href="sidenote.xbl" type="application/xml"><code
class="file" lang="en" xml:lang="en">sidenote.xbl</code></a></dt>
	<dd><abbr lang="en" xml:lang="en"
	title="XML Binding Language">XBL</abbr> $B$K$h$k<BAuK\BN$G$9!#(B</dd>
<dt><a href="sidenote-style-left.css" type="text/css"><code
class="file" lang="en" xml:lang="en">sidenote-style-left.css</code></a></dt>
	<dd>$BK5Cm$rK\J8$N:8$KI=<($9$k(B <abbr lang="en" xml:lang="en"
	title="Cascading Style Sheets">CSS</abbr> $B%9%?%$%k!&%7!<%H$NNc$G$9!#(B</dd>
<dt><a href="sidenote-style-right.css" type="text/css"><code
class="file" lang="en" xml:lang="en">sidenote-style-right.css</code></a></dt>
        <dd>$BK5Cm$rK\J8$N1&$KI=<($9$k(B <abbr lang="en" xml:lang="en"
        title="Cascading Style Sheets">CSS</abbr> $B%9%?%$%k!&%7!<%H$NNc$G$9!#(B</dd>
</dl>
</div>

<div id="USAGE" class="section">
<h2>$B;HMQJ}K!(B</h2>

<p><a href="#FILES">$BA0=R(B</a>$B$N(B <abbr lang="en" xml:lang="en"
title="Cascading Style Sheets">CSS</abbr> $B%9%?%$%k!&%7!<%H$X$N;2>H$+!"(B
$B$=$l$HF1MM$NFbMF$r!"E,MQ$9$kJ8=q(B ($B$N%9%?%$%k!&%7!<%H(B) $B$K5-=R$7$F$/$@$5$$!#(B</p>
<p><a href="#FILES">$BA0(B2$BNc(B</a>$B$N%9%?%$%k!&%7!<%H$G$O!"(B
<abbr lang="en" xml:lang="en" title="Extensible Hypertext Markup Language"
>XHTML</abbr> 1 $B$N(B <code class="HTMLe" lang="en" xml:lang="en">abbr</code>
$BMWAG7?!&(B<code class="HTMLe" lang="en" xml:lang="en">acronym</code> $BMWAG7?(B,
<abbr lang="en" xml:lang="en" title="Extensible Hypertext Markup Language"
>XHTML</abbr> 2 $B$N(B <code class="HTMLe" lang="en" xml:lang="en">abbr</code>
$BMWAG7?$NMWAG$*$h$S$=$NB>(B <code class="HTMLa" lang="en" xml:lang="en">class</code>
$B$,(B <code lang="en" xml:lang="en">with-title-annotation</code>
$B$G$"$kG$0U$NMWAG7?$NMWAG$G!"(B <code class="HTMLa" lang="en"
xml:lang="en">title</code> $BB0@-$,B8:_$9$k>l9g$K!"K5Cm$H$7$FI=<($7$^$9!#(B</p>
</div>

<div id="BUG" class="section">
<h2>$B4{CN$NLdBjE@(B</h2>

<ul>
<li><span lang="en" xml:lang="en">Gecko</span> $B$NIA2h$,2x$7$$$G$9!#(B
$B>/$J$/$F$b(B <span lang="en" xml:lang="en">Firefox</span> $B$G$O!"(B
$B$d$dJ#;($J(B <code class="CSS" lang="en" xml:lang="en">:hover</code> 
$B;XDj$,$&$^$/H?1G$5$l$J$+$C$?$j!"(B
$BHO0OA*Br$K$h$k?'H?E>$,$*$+$7$/$J$C$?$j$9$k$3$H$,$"$k$h$&$G$9!#(B
($B:#$N$H$3$m!"K\J8$NIA2h$,Mp$l$k$?$j!"(B
$B%V%i%&%6$,Mn$A$?$j$N$h$&$JCWL?E*$JLdBj$O8+$D$+$C$F$$$^$;$s!#(B)</li>
<li>$B6a$/$NK5CmF1;N$,=E$J$k$3$H$,$"$j$^$9!#(B<abbr lang="en" xml:lang="en"
title="Cascading Style Sheets">CSS</abbr> $B$@$1$G2r7h$9$kJ}K!$O$J$5$=$&$G$9!#(B</li>
<li>$BK5Cm$rI=<($9$k$?$a$NM>Gr$,I,MW$G$9!#(B</li>
<li>$B8=;~E@$G(B <span lang="en" xml:lang="en">Gecko</span> $B0J30$G$O;H$($^$;$s!#(B
(<abbr title="Internet Explorer (Windows $BHG(B)" lang="en" 
xml:lang="en">WinIE</abbr> $B$G$b(B <abbr lang="en" xml:lang="en"
title="HTML Components">HTC</abbr> $B$r;H$($P<B8=$G$-$^$9$,!"(B
<abbr lang="en" xml:lang="en"
title="Cascading Style Sheets">CSS</abbr> $B$N<BAu$,9s2a$.$k$N$G3Z$7$/$"$j$^$;$s!#(B
$BB>$N(B <abbr lang="en" xml:lang="en" title="$BMxMQ<T%(!<%8%'%s%H(B">UA</abbr>
$B$G$O(B <code class="HTMLe" lang="en" xml:lang="en">script</code>
$BMWAG$r;HMQ$9$kI,MW$,$"$k$G$7$g$&!#(B)</li>
<li>$BMWAG$NFbMF$NItJ,(B ($BN,8l$J$I(B) $B$OLZ$H$7$F$G$O$J$/!"J8;zNs$H$7$FJ#<L$7$^$9!#(B
$B$3$N$?$a!"I,MW$J%^!<%/(B (<code class="HTMLe" lang="en" xml:lang="en">sup</code>
$B$J$I(B) $B$^$GMn$H$7$F$7$^$&$+$b$7$l$^$;$s!#(B</li>
<li>$BK\J8$,%j%s%/$NCf$K$"$k$H!"K5CmA4BN$b%j%s%/$K$J$C$F$7$^$$$^$9!#(B
$B$=$NB>!"K\J8B&$N%9%?%$%k;XDj$+$i$N7Q>5$,$"$k$N$G!"(B
$BE,59BG$A>C$7$N%9%?%$%k;XDj$,I,MW$G$9!#(B</li>
<li>$BK\J8$,(B <code class="CSS" lang="en" xml:lang="en">overflow: scroll</code>
$B$J$I$G1#$l$k6h4V$K$"$k$H!"(B
$B1#$l$F$$$J$1$l$PI=<($5$l$k$G$"$m$&>l=j$KBP1~$7$FK5Cm$,I=<($5$l$^$9!#(B
(<span lang="en" xml:lang="en">Gecko</span> $B$NLdBj$G$9$,!"(B
$B%P%0$H$O8@$($J$$$H;W$o$l$^$9!#(B)</li>
</ul>
</div>

</body>
</html>
