<html xmlns="http://www.w3.org/1999/xhtml"
    lang="ja" xml:lang="ja"
    xmlns:autoheight="http://suika.fam.cx/~wakaba/archive/2005/3/textarea#">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
<title>HTML $B$NJ8>OF~NOMs$N9b$5$r<+F0E*$KA}2C$5$;$k(B</title>
<link rel="up" href="./" />
<link rev="made" href="/~wakaba/who?" />
<meta name="author" content="$B$o$+$P(B" />
<link rel="stylesheet" href="/www/style/html/xhtml" media="all" />
<link rel="stylesheet" href="toc-after-abstract" media="all" />
<link rel="stylesheet" href="textarea-autosizer-maxheight25" media="all" />
</head>
<body>
<h1><abbr lang="en" xml:lang="en" title="Hypertext Markup Language">HTML</abbr> 
$B$NJ8>OF~NOMs$N9b$5$r<+F0E*$KA}2C$5$;$k(B</h1>

<div class="section" id="ABSTRACT">
<h2>$B35MW(B</h2>

<p>
$BFI<T$O(B
<abbr lang="en" xml:lang="en" title="Hypertext Markup Language">HTML</abbr>
$B$N%U%)!<%`$NJ8>OF~NOMs$N9b$5$h$j$bB?$/$NJ8>O$rF~NO$7$?$$$3$H$,$"$j$^$9!#(B
$BDL>o(B <span lang="en" xml:lang="en">scroll</span>
$B$N5!G=$,Ds6!$5$l$F$$$^$9$,!"9b$5$,==J,<h$i$l$F$$$J$$$HITJX$G$9!#(B
$B$=$3$G!"FbMF$K1~$8$F9b$5$r<+F0E*$KA}2C$5$;$kJ}K!$r>R2p$7$^$9!#(B
</p>
</div>

<div class="section" id="INTRO">
<h2>$B$O$8$a$K(B</h2>

<p>
<abbr lang="en" xml:lang="en" title="Hypertext Markup Language">HTML</abbr>
$B$N%U%)!<%`5!G=$N0l$D$KJ#?t9T$NJ8>OF~NO@)8f;R(B
(<code class="HTMLe" lang="en" xml:lang="en">textarea</code>
$BMWAG(B) $B$,$"$j$^$9!#(B
$BFI<T(B ($BMxMQ<T(B) $B$O$3$N@)8f;R$NF~NOMs$KJ8>O$rF~NO$7!"(B
$BMxMQ<T%(!<%8%'%s%H$K$3$l$r%U%)!<%`@)8f%(!<%8%'%s%H$KDs=P$5$;$k$3$H$,$G$-$^$9!#(B
</p>

<p>
$BDL>o!"Cx<T$OFI<T$,F~NO$9$k$G$"$m$&J8>ONL$r8+1[$7$F(B
<code class="HTMLa" lang="en" xml:lang="en">rows</code>
$BB0@-$NCM$r;XDj$7$?$j!"%9%?%$%k!&%7!<%H$K$h$C$F9b$5$r;XDj$7$?$j$7$^$9!#(B
$B$7$+$7!"$=$N8+@Q$b$j$,4E$$>l9g$d@_7W>e$NM}M3$+$i$"$^$j9b$5$r(B
<span class="weak">($B"b(B $B>l=j$r(B)</span> $B<h$j$?$/$J$$$3$H$b$"$j$^$9!#(B
</p>

<p>
$BJ8>ONL$,F~NOMs$NBg$-$5$rD6$($?>l9g!"MxMQ<T%(!<%8%'%s%H$O(B
<span lang="en" xml:lang="en">scroll bar</span>
$B$J$I$K$h$C$FI=<(HO0O$r@)8f$G$-$k$h$&$K$9$k$N$,IaDL$G$9!#(B
$B$7$+$7!"==J,$J9b$5$,<h$i$l$F$$$J$$$H(B
<span lang="en" xml:lang="en">scroll bar</span>
$B$,;H$$$K$/$$$J$I$NLdBj$,$"$k$+$b$7$l$^$;$s!#(B
</p>

<p>
$B$3$N$h$&$JLdBj$O!"(B
$BMxMQ<T%(!<%8%'%s%H$,F~NOMs$NBg$-$5$r<jF0$^$?$O<+F0$GJQ99$9$k5!G=$r<BAu$9$l$P2r7h$7$^$9!#(B
$B$7$+$7!"$3$NJ8=q$G$O!"MxMQ<T%(!<%8%'%s%H$NJQ99$rBT$?$:$K%9%?%$%k!&%7!<%H$N;XDj$N$_$GCx<T$,$3$NLdBj$r2r7h$9$k$?$a$NJ}K!$r>R2p$7$^$9!#(B
</p>

<div class="note memo info">
<p>$BCx<T$N%9%?%$%k!&%7!<%H$G$O$J$/MxMQ<T$N%9%?%$%k!&%7!<%H$r;H$($P!"(B
$BMxMQ<T$bMxMQ<T%(!<%8%'%s%H$N2~A1$rBT$?$:$K$3$N5!G=$rMxMQ$G$-$^$9!#(B</p>
</div>

</div><!-- #INTRO -->

<div class="section" id="USAGE">
<h2>$B;H$$J}(B</h2>

<div class="section" id="USAGE-1">
<h3>$B4JC1$J;H$$J}(B</h3>
<div class="para">
$B%9%?%$%k!&%7!<%H$N@hF,$K(B
<pre class="CSS" lang="en" xml:lang="en" id="XMP-IMPORT">
@import 'https://suika.suikawiki.org/www/style/ui/textarea-autosizer-maxheight25.css';
</pre>
$B$H=q$-B-$7$F2<$5$$!#(B
</div>

<div class="note memo">
<p>
$B%9%?%$%k!&%7!<%H$K(B <code class="CSS" lang="en" xml:lang="en">@charset</code>
$B5,B'$,$"$k>l9g!"$=$l$h$j$O8e$KDI5-$7$F2<$5$$!#(B
</p>
</div>
</div><!-- #USAGE-1 -->

<div class="section" id="USAGE-ADV">
<h3>$B$h$j9bEY$J;H$$J}(B</h3>

<p>
$BJ8>OF~NOMs$NBg$-$5$N<+F0JQ995!G=$O!"(B
<abbr lang="en" xml:lang="en" title="Extensible Binding Langauge">XBL</abbr>
$B$^$?$O(B
<abbr lang="en" xml:lang="en" title="HTML Components">HTC</abbr>
$B$r;H$C$F<BAu$7$F$$$^$9!#$=$l$r(B
<abbr lang="en" xml:lang="en" title="Cascading Style Sheets">CSS</abbr>
$B$NFC@-$K$h$C$FJ8=q$K7k$SIU$1$^$9!#(B
</p>

<p>
<abbr lang="en" xml:lang="en" title="Extensible Binding Langauge">XBL</abbr>
(<span lang="en" xml:lang="en">Gecko</span> $B7O(B) $B$H(B
<abbr lang="en" xml:lang="en" title="HTML Components">HTC</abbr>
(<abbr title="Windows $BMQ(B Internet Explorer" lang="en" xml:lang="en">WinIE</abbr>)
$B$G$O;HMQ$9$kFC@-$,0c$$$^$9!#(B
$B$=$N$?$a(B<a href="#XMP-NO-MAX">$B<!$NNc(B</a>$B$N$h$&$KN><T$rJ;5-$7$^$9!#(B
</p>

<div class="example fig" id="XMP-NO-MAX">
<div class="fig-body">
<pre class="CSS" lang="en" xml:lang="en">
textarea {
  behavior: url(https://suika.suikawiki.org/www/style/ui/textarea-autoheight.htc);
  -moz-binding: url(https://suika.suikawiki.org/www/style/ui/textarea-autosize#rows);
}
</pre>
</div>

<div class="caption">$B9b$5@)8B$J$7$NNc(B</div>
</div>

<p>$B4pK\E*$K$O(B<a href="#XMP-NO-MAX">$B$3$NNc(B</a>$B$N;XDj$@$1$G5!G=$7$^$9$,!"(B
$BMxMQ<T$NF~NO$K=>$C$F9b$5$,:]8B$J$/A}$($F$$$-$^$9!#(B
$B$=$l$G$O$+$($C$F;H$$$E$i$$$N$G!"E,Ev$J>e8B$r@_Dj$7$^$9!#(B
<a href="#XMP-MAX-25">$B<!$NNc(B</a>$B$G$O>e8B$r(B25$B9T$H$7$F$$$^$9!#(B</p>

<div class="example fig" id="XMP-MAX-25">
<div class="fig-body">
<pre class="CSS" lang="en" xml:lang="en">
textarea {
  max-height: 25em;
  behavior: expression(this.setAttribute('autoheight:max-rows', 25),
                       'url(https://suika.suikawiki.org/www/style/ui/textarea-autoheight.htc)');
  -moz-binding: url(https://suika.suikawiki.org/www/style/ui/textarea-autosize#rows);
}
</pre>

<p><a href="textarea-autosizer-maxheight25.css" type="text/css"
>$BF1$8FbMF$N%9%?%$%k!&%7!<%H$rJLESMQ0U$7$F$$$^$9(B</a>$B!#(B
$B$=$l$r$=$N$^$^;HMQ$9$kJ}K!$O(B<a href="#XMP-IMPORT">$BA0$NNc(B</a>$B$r$4Mw2<$5$$!#(B</p>
</div>

<div class="caption">$B9b$5@)8B(B25$B9T$NNc(B</div>
</div>

<p>
<span lang="en" xml:lang="en">Gecko</span> $B$J$I(B
<span lang="en" xml:lang="en"><abbr title="Cascading Style Sheets">CSS</abbr>
2</span> $B$KBP1~$7$?(B <span lang="en" xml:lang="en">Web</span> $B%V%i%&%6$K$O(B
<code class="CSS" lang="en" xml:lang="en">max-height</code>
$BFC@-$r;XDj$9$l$P==J,$G$9!#$7$+$7!"(B
<abbr title="Windows $BMQ(B Internet Explorer" lang="en" xml:lang="en">WinIE</abbr>
$B$N$h$&$J8E$$(B <span lang="en" xml:lang="en">Web</span>
$B%V%i%&%6$O$3$NFC@-$KBP1~$7$F$$$^$;$s!#(B
$B$=$3$G!"(B
<abbr lang="en" xml:lang="en" title="HTML Components">HTC</abbr>
$BHG$O(B <code class="XMLa" lang="en" xml:lang="en">autoheight:max-rows</code>
$BB0@-$NCM(B ($B@5@0?t$G!"C10L$O9T(B) $B$,;XDj$5$l$F$$$l$P$=$l$r:GBgCM$H$_$J$7$^$9!#(B
</p>

<div class="note memo">
<div class="para">
$BB0@-L>$K%3%m%s$,4^$^$l$^$9$,!"(B 
<abbr lang="en" xml:lang="en" title="Extensible Markup Language">XML</abbr> 
$BL>A06u4V$H$O4X78$"$j$^$;$s!#$7$+$7!"5$;}$A$,0-$$$N$G$"$l$PJ8=q$N(B
<code class="HTMLe" lang="en" xml:lang="en">html</code>
$BMWAG$K$G$b(B
<pre class="XML" lang="en" xml:lang="en">
xmlns:autoheight="http://suika.fam.cx/~wakaba/archive/2005/3/textarea#"
</pre>
$B$HL>A06u4V$r@k8@$9$kB0@-$rDI2C$7$F2<$5$$!#(B ($BL>A06u4V@\F,<-$OJQ$($J$$$G2<$5$$!#(B)
</div>
</div>

</div><!-- #USAGE-ADV -->

</div><!-- #USAGE -->

<div class="section" id="EXAMPLES">
<h2>$BNc(B</h2>

<p>$B$3$N>O$G$O<B:]$KJ8>OF~NOMs$NNc$r<($7$^$9!#(B
$BBP1~$7$?MxMQ<T%(!<%8%'%s%H(B
(<span lang="en" xml:lang="en">Gecko</span> $B7O(B 
<span lang="en" xml:lang="en">Web</span>
$B%V%i%&%6$d(B <abbr lang="en" xml:lang="en" title="Windows $BHG(B Internet Explorer"
>WinIE</abbr>)
$B$G<B:]$KJ8>O$rF~NO$7$F;n$7$F$_$F$/$@$5$$!#(B</p>

<div class="example fig">
<div class="fig-body">
<div class="non-para">
<label>$BJ8>OF~NOMs$NNc(B: 
<textarea rows="4" cols="50">$B$3$l$O85!9(B rows="4" $B$G!"(B
$B=i4|$NFbMF$O(B2$B9T$NF~NOMs$G$9!#(B</textarea></label>
</div>
<p>$B2~9T$9$k$4$H$KMs$,Bg$-$/$J$j$^$9$,!"(B25$B9T$rD6$($k$H$=$l0J>eBg$-$/$J$j$^$;$s!#(B
$B9T$r8:$i$7$F$b0lEYBg$-$/$J$C$?Ms$O85$K$OLa$j$^$;$s!#(B</p>
</div>
<div class="caption">$B85!9(B4$B9T$NBg$-$5$NF~NOMs(B</div>
</div>

<div class="section" id="REAL-XMP">
<h3>$B<B:]$N;HMQNc(B</h3>

<p>$B<!$N%5%$%H$G<B:]$K;HMQ$7$F$$$^$9(B ($B=gITF1(B)$B!#(B</p>

<ul>
<li><a href="/gate/2005/sw/">SuikaWiki</a></li>
</ul>

</div><!-- #REAL-XMP -->

</div><!-- #EXAMPLES -->

<div class="section" id="PROBLEMS">
<h2>$BLdBjE@(B</h2>

<ul>
<li><span class="caption">$BL$BP1~$NMxMQ<T%(!<%8%'%s%H$G$O2?$b5/$3$j$^$;$s!#(B
</span>
$B$7$+$7?7$?$JLdBj$,H/@8$9$k$3$H$O$"$j$^$;$s(B (<em>$BL532(B</em>$B$G$9(B)$B!#(B</li>
<li><span class="caption">$BI=<(>e$N@^JV$7$K$OBP1~$7$F$$$^$;$s!#(B</span>
1$B9T$NJ8;z?t$,B?$/$FC<$G@^JV$7$F$b!"9T?t$H$7$F?t$($J$$$N$GF~NOMs$OBg$-$/$J$j$^$;$s!#(B
</li>
<li><span class="caption">$BD>@\F~NO0J30$G$OBg$-$/$J$j$^$;$s!#(B</span>
$B%9%/%j%W%H$K$h$kJQ99$d%/%j%C%W%\!<%I$+$i$NE=$jIU$1$J$I$G$OBg$-$5$,JQ$o$j$^$;$s!#(B
<span class="weak">(<abbr lang="en" xml:lang="en" 
title="Windows $BHG(B Internet Explorer">WinIE</abbr> 
$B$G$O%/%j%C%W%\!<%I$+$i$NE=$jIU$1$G$bBg$-$5$,JQ$o$j$^$9!#(B)</span>
$B=i4|CM$K$"$o$;$?<+F0JQ99$b9T$$$^$;$s!#(B</li>
<li><span class="caption">$B>-Mh$N(B <span lang="en" xml:lang="en">Gecko</span>
$B7O%V%i%&%6$G$bF0$/$+ITL@$G$9!#(B</span>
<span lang="en" xml:lang="en">Gecko</span>
$B7O%V%i%&%6$G$O(B <code class="HTMLe" lang="en" xml:lang="en">textarea</code>
$BMWAG$N<BAu$=$N$b$N$K(B <abbr lang="en" xml:lang="en" 
title="Extensible Binding Language">XBL</abbr>
$B$rMxMQ$7$F$$$^$9!#$=$l$r;H$&$H$$$&;XDj$r>e=q$-$7$F$7$^$&$HK\Mh$NF0:n$K;Y>c$,=P$k$N$G!"(B
<abbr lang="en" xml:lang="en" title="Extensible Binding Language">XBL</abbr>
$BFb$G(B <code class="XMLa" lang="en" xml:lang="en">extends</code>
$BB0@-$r;H$C$F$$$^$9$,!"(B <span lang="en" xml:lang="en">Gecko</span>
$B$NG[I[%U%!%$%kFb$NL>A0$rD>@\;XDj$7$F$$$k$N$G!"(B
$B>-Mh$K$o$?$C$F5!G=$7B3$1$k$+IT0B$,$"$j$^$9!#(B
<span class="weak">($BD>@\;XDj$G$O$J$/(B <abbr lang="en" xml:lang="en"
title="Hypertext Markup Language">HTML</abbr>
$B$NMWAG7?L>$N;XDj$G$b$h$$$i$7$$$G$9$,!"<j85$G;n$7$?8B$j$G$OF0:n$7$^$;$s$G$7$?!#(B)</span>
$B0l1~(B <span lang="en" xml:lang="en">Mozilla 1.0</span>, 
<span lang="en" xml:lang="en">Mozilla 1.3</span>, 
<span lang="en" xml:lang="en">Mozilla Firefox 0.9</span>
$B$G;n$7$?$N$G8E$$HG$G$bLdBj$O=P$J$$$G$7$g$&$,!">-Mh$NHG$O$o$+$j$^$;$s!#(B
</li>
</ul>

</div><!-- #PROBLEMS -->

<div class="section" id="FILES">
<h2 lang="en" xml:lang="en">$B4XO"%U%!%$%k(B</h2>

<p><a href="./">$B$3$N3,AX(B</a>$B$N(B <code class="file">textarea-auto</code>
$B$+$i;O$^$kL>A0$N%U%!%$%k$,4XO"$9$k<BAu$d%9%?%$%k!&%7!<%H$NNc$G$9!#(B</p>
<p>$B3F%U%!%$%k$O(B <!--<a href="http://suika.fam.cx/gate/cvs/webroot/www/style/ui/"
><abbr lang="en" xml:lang="en"
title="Concurrent Versions System">CVS</abbr>-->
<a href="https://suika.suikawiki.org/gate/git/wi/suikaweb/styles.git/tree">Git</a>
$B$GHG4IM}$7$F$$$^$9(B</a>$B!#(B</p>
</div>

<div class="section" id="LICENSE">
<h2 lang="en" xml:lang="en">License</h2>

<p><a href="#FILES">$B4XO"$9$k%U%!%$%k(B</a>$B$O(B
<q lang="en" xml:lang="en">MPL 1.1/GPL 2.0/LGPL 2.1</q>
$B$GG[I[$7$F$$$^$9!#>\$7$/$O3F%U%!%$%k$NCm<a$r$4Mw2<$5$$!#(B</p>
</div>

<div class="section" id="RELATED">
<h2>$B4XO"$9$k;q8;(B</h2>

<dl>
<dt><a href="https://suika.suikawiki.org/gate/2005/sw/SuikaWiki3/%E3%83%A1%E3%83%A2/2005-03-09">SuikaWiki3//$B%a%b(B//2005-03-09</a></dt>
	<dd><code class="file" lang="en" xml:lang="en">toc.xbl</code>
	$B4XO"$NOCBj(B, $B$40U8+(B, $BIT6q9g>pJsEy$O$3$A$i$^$G$*4j$$$7$^$9!#(B</dd>
</dl>
</div><!-- #RELATED -->

<div class="footer">
<div class="navigation">
[<a href="/">/</a> <a href="/www/" lang="en" xml:lang="en"
>Web</a> <a href="/www/style/" lang="en" xml:lang="en">$B%9%?%$%k!&%7!<%H(B</a> 
<a href="/www/style/ui/" rel="up">$BMxMQ<T3&LL(B</a>]
</div>
<div class="update" lang="en" xml:lang="en">
  <a href="https://suika.suikawiki.org/gate/git/wi/suikaweb/styles.git/history/HEAD:/ui/toc-desc.ja.html"><time>2012-01-14</time></a>
</div>
</div>

</body>
</html>
