<html lang="ja" xml:lang="ja"
  xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
<title>toc.xbl : $BL\<!$N<+F0@8@.(B</title>
<link rel="up" href="./" />
<link rel="copyright" href="#LICENSE" />
<link rev="made" href="https://suika.suikawiki.org/~wakaba/who?" />
<meta name="author" content="$B$o$+$P(B" />
<link rel="stylesheet" href="../html/xhtml" media="all" />
<!--
<link rel="stylesheet" href="toc-after-abstract" media="all" />
<link rel="stylesheet" href="toc-style-float-compact"
    media="screen" title="$B0\F02DG=(B" />
-->
</head>
<body>
<h1><code class="file">toc.xbl</code> : $BL\<!$N<+F0@8@.(B</h1>

<div class="section" id="ABSTRACT">
<h2>$B35MW(B</h2>

<p><code class="file" lang="en" xml:lang="en">toc.xbl</code> $B$O(B 
<abbr title="Hypertext Markup Language" lang="en" xml:lang="en">HTML</abbr>
$BJ8=q$NL\<!$r<+F0E*$K@8@.$7$^$9!#(B 
<abbr title="Extensible Binding Language" lang="en" xml:lang="en">XBL</abbr>
$B$KBP1~$7$?(B <span lang="en" xml:lang="en">Web</span> $B%V%i%&%6$G(B 
<abbr title="Cascading Style Sheets" lang="en" xml:lang="en">CSS</abbr>
$B$K5-=R$r2C$($k$@$1$G(B 
<abbr title="Hypertext Markup Language" lang="en" xml:lang="en">HTML</abbr>
$BJ8=q$KL\<!$rIU$12C$($k$3$H$,$G$-$^$9!#$3$NJ8=q$G$O(B
<code class="file" lang="en" xml:lang="en">toc.xbl</code> 
$B$N;H$$J}$r@bL@$7$^$9!#(B</p>
</div>

<div class="section" id="INTRO">
<h2>$B$O$8$a$K(B</h2>

<p>
<abbr title="Hypertext Markup Language" lang="en" xml:lang="en">HTML</abbr>
$B$G$O8+=P$7$rI=$9(B <code lang="en" xml:lang="en" class="HTMLe">h<var>n</var></code>
$BMWAG7?$,(B6$B<oN`MQ0U$5$l$F$*$j!"J8>O$N9=@.$r5-=R$9$k$3$H$,$G$-$^$9!#(B
$B$3$N8+=P$7>pJs$rMxMQ$7$FJ8=q$NNX3T$rMxMQ<T$KDs<($7$F1\Mw$NJX$r?^$C$F$$$kMxMQ<T%(!<%8%'%s%H$b$"$j$^$9$,!"(B
$B;DG0$J$,$i$=$l$[$I0lHLE*$G$O$"$j$^$;$s!#(B
</p>

<p>
<code class="file" lang="en" xml:lang="en">toc.xbl</code>
$B$O!"(B 
<abbr title="Hypertext Markup Language" lang="en" xml:lang="en">HTML</abbr>
$BJ8=q$+$iL\<!$rF0E*$K@8@.$7$^$9!#(B
<a href="http://www.w3.org/TR/xbl"
hreflang="en" xml:lang="en" lang="en"><abbr title="Extensible Binding Language"
>XBL</abbr> 1.0</a> $B$K$h$C$F0l$D$N(B<q>$B%Q%C%1!<%8(B</q>$B$K$^$H$a$i$l$F$$$k$N$G!"(B
$BCx<T$O%9%?%$%k!&%7!<%H$K5-=R$rB-$9$@$1$GL\<!$rJ8=q$K2C$($k$3$H$,$G$-$^$9!#(B
</p>
</div>

<div class="section" id="USAGE">
<h2>$B;H$$J}(B</h2>

<div class="section" id="USAGE-L1">
<h3>$B4JC1$J;H$$J}(B</h3>

<p>
<abbr title="Cascading Style Sheets" lang="en" xml:lang="en">CSS</abbr>
$B%9%?%$%k!&%7!<%H$N@hF,(B <span class="weak">(<code class="CSS"
lang="en" xml:lang="en">@charset</code> $B5,B'$r;HMQ$7$F$$$k>l9g$O$=$N8e(B)</span> 
$B$K!"(B<a href="#XMP-IMPORT-AFTER-H1-FLOAT">$B<!$NNc(B</a>$B$N$h$&$J5-=R$r2C$($F2<$5$$!#(B
</p>

<div class="example fig" id="XMP-IMPORT-AFTER-H1-FLOAT">
<div class="fig-body">
<pre><code class="CSS" lang="en" xml:lang="en"
>@import '<code class="uri"
>https://suika.suikawiki.org/www/style/ui/toc-after-h1.css</code>';
@import '<code class="uri"
>https://suika.suikawiki.org/www/style/ui/toc-style-float-compact.css</code>';
</code></pre>
</div>

<div class="caption">$BL\<!$rIU$1$k$?$a$N(B
<abbr title="Cascading Style Sheets" lang="en" xml:lang="en">CSS</abbr>
$B$N;XDj(B</div>
</div>

<p>$B$J$*!"$3$N%9%?%$%k!&%7!<%H$rE,MQ$9$kJ8=q$G(B
<code class="HTMLe" lang="en" xml:lang="en">h1</code>
$BMWAG$,;H$o$l$F$$$k$3$H$r3NG'$7$F2<$5$$!#(B</p>

<div class="rationale memo">
<p>
<abbr title="Cascading Style Sheets" lang="en" xml:lang="en">CSS</abbr>
$B$N5,Dj$K$h$j!"(B 
<code class="CSS" lang="en" xml:lang="en">@import</code>
$B5,B'$N;XDj$OB>$N5,B'$h$j$bA0$K$J$1$l$P$J$j$^$;$s!#(B
</p>
</div>
</div>

<div class="section" id="USAGE-ADV">
<h3>$B$h$j9bEY$J;H$$J}(B</h3>

<div class="para">
$BL\<!$rM-8z$K$9$k$?$a$KI,MW$J(B
<abbr title="Cascading Style Sheets" lang="en" xml:lang="en">CSS</abbr>
$B%9%?%$%k!&%7!<%H$N5-=R$O!"(B
<ul>
<li>$BL\<!$r@8@.$9$k(B <code class="file" lang="en" xml:lang="en">toc.xbl</code>
$B$N;XDj(B</li>
<li>$B@8@.$5$l$?L\<!$N8+$?L\$r@0$($k$?$a$N;XDj(B</li>
</ul>
$B$N(B2$B<oN`$KJ,$1$k$3$H$,$G$-$^$9!#(B
</div>

<div class="section" id="USAGE-BIND">
<h4><code class="file" lang="en" xml:lang="en">toc.xbl</code>
$B$NB+G{(B</h4>

<p>
$BL\<!$r@8@.$9$k$?$a$N(B <code class="file" lang="en" xml:lang="en">toc.xbl</code>
$B$rJ8=q$KB+G{$9$k$?$a$K$O!"(B <a href="http://www.xulplanet.com/references/elemref/ref_StyleProperties.html#prop_-moz-binding"
hreflang="en"><code class="CSS" lang="en" xml:lang="en"
>-moz-binding</code></a> $BFC@-$r;HMQ$7$^$9!#$3$NFC@-$NCM$OB+G{$9$k(B
<abbr title="Extensible Binding Language" lang="en" xml:lang="en">XBL</abbr>
$B$NJ8=q$H!"$=$NCf$K4^$^$l$kB+G{(B 
(<code class="XMLe" lang="en" xml:lang="en">binding</code>) 
$BMWAG$r<1JL$9$k(B 
<abbr lang="en" xml:lang="en" title="Uniform Resource Identifiers">URI</abbr> 
$B;2>H$G$9!#(B
</p>

<div class="example fig" id="XMP-BIND-AFTER-H1">
<div class="fig-body">
<pre><code class="CSS" lang="en" xml:lang="en"
><code class="HTMLe">h1</code> {
  -moz-binding: url(<code class="uri"
>https://suika.suikawiki.org/www/style/ui/toc#after</code>);
}
</code></pre>
</div>

<div class="caption"><code class="HTMLe" lang="en" xml:lang="en">h1</code>
$BMWAG$N8e$KL\<!$rA^F~$9$k;XDj(B</div>
</div>

<p>
<a href="#XMP-BIND-AFTER-H1">$B$3$NNc(B</a>$B$G$O!"(B
<abbr title="Extensible Binding Language" lang="en" xml:lang="en">XBL</abbr>
$BJ8=q$H$7$F(B
<code class="uri" lang="en" xml:lang="en">&lt;<a
href="https://suika.suikawiki.org/www/style/ui/toc"
type="application/xml">https://suika.suikawiki.org/www/style/ui/toc</a>&gt;</code>
$B$r!"$=$NCf$NB+G{$H$7$F(B <code xml:lang="en" lang="en">after</code>
$B$r;XDj$7$F$$$^$9!#(B
$BA0<T$O(B
<abbr title="Extensible Binding Language" lang="en" xml:lang="en">XBL</abbr>
$BJ8=q$rJL$N>l=j$KJ]B8$9$k>l9g$OE,Ev$K=q$-49$($F2<$5$$!#(B
$B8e<T$O8=;~E@$G$O(B <code xml:lang="en" lang="en">after</code>
$B0J30;XDj$G$-$^$;$s!#(B
</p>

<div class="note memo">
<p>
<code class="CSS" lang="en" xml:lang="en">-moz-binding</code> $BFC@-$O(B 
<a href="http://www.mozilla.org/newlayout/" lang="en" xml:lang="en">Gecko</a>
$B$N3HD%$G$9!#$7$+$7!"(B <span lang="en" xml:lang="en">Gecko</span>
$B0J30$NMxMQ<T%(!<%8%'%s%H$K$O$[$\L532$H9M$($i$l$^$9!#(B
</p>
</div>

<p><code class="CSS" lang="en" xml:lang="en">-moz-binding</code> 
$BFC@-$r;HMQ$7$?%9%?%$%k!&%7!<%H$NNc$r(B2$B<oN`MQ0U$7$^$7$?!#(B
$B@'Hs$*;H$$2<$5$$!#(B</p>

<ul>
<li>
<code class="HTMLe" lang="en" xml:lang="en">h1</code> $BMWAG$N8e$KL\<!$rA^F~(B:
<code class="uri" lang="en" xml:lang="en">&lt;<a
href="https://suika.suikawiki.org/www/style/ui/toc-after-h1"
>https://suika.suikawiki.org/www/style/ui/toc-after-h1</a>&gt;</code>
[<a href="#XMP-IMPORT-AFTER-H1-FLOAT">$B;HMQNc(B</a>]</li>
<li><code class="XML" xml:lang="en" lang="en">ID</code> $B$,(B 
<code lang="en" xml:lang="en">ABSTRACT</code> $B$G$"$kMWAG$N8e$KL\<!$rA^F~(B:
<code class="uri" lang="en" xml:lang="en">&lt;<a
href="https://suika.suikawiki.org/www/style/ui/toc-after-abstract"
>https://suika.suikawiki.org/www/style/ui/toc-after-abstract</a>&gt;</code>
</li>
</ul>

<p>$B$b$A$m$s!"$3$l$i$r;H$o$:$K(B<a href="#XMP-BIND-AFTER-H1">$B@h$NNc(B</a>$B$N$h$&$JFC@-$N;XDj$rD>@\$*;H$$$N%9%?%$%k!&%7!<%H$KDI2C$7$F$$$?$@$$$F$b9=$$$^$;$s!#(B</p>

</div><!-- #USAGE-BIND -->

<div class="section" id="USAGE-TOC-STYLE">
<h4>$B@8@.$7$?L\<!$X$N%9%?%$%k;XDj(B</h4>

<p>$BL\<!$O!"(B<a href="#FIG-TOC-STRUCT">$B<!$N?^(B</a>$B$N$h$&$J9=B$$G@8@.$5$l$^$9!#(B</p>

<div class="fig" id="FIG-TOC-STRUCT">
<div class="fig-body">
<ol lang="en" xml:lang="en" class="xoxo">
<li>
<span class="label"><code class="HTMLe qname"><abbr 
title="http://www.w3.org/1999/xhtml" class="qname-prefix">xhtml1</abbr>:<code 
class="qname-local-name">div</code></code>[@<code class="XMLa qname"><abbr 
title="http://suika.fam.cx/~wakaba/archive/2005/3/toc#" class="qname-prefix"
>toc</abbr>:<code class="qname-local-name">toc</code></code>]</span>
	<ol>
	<!--
	<li><code class="XMLe qname"><abbr title="http://www.w3.org/2002/06/xhtml2/" class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">h</code></code></li>
	-->
	<li><span class="label"><code class="XMLe qname"><abbr title="http://www.w3.org/2002/06/xhtml2/" class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">nl</code></code></span>
		<ol>
		<li><code class="XMLe qname"><abbr 
		title="http://www.w3.org/2002/06/xhtml2/" 
		class="qname-prefix">xhtml2</abbr>:<code 
		class="qname-local-name">label</code></code></li>
		<li><span class="label"><code class="XMLe qname"><abbr 
		title="http://www.w3.org/2002/06/xhtml2/" class="qname-prefix"
		>xhtml2</abbr>:<code class="qname-local-name">li</code></code></span>
			<ol>
			<li><span class="label"><code class="XMLe qname"><abbr title="http://www.w3.org/2002/06/xhtml2/" class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">nl</code></code></span>
				<ol>
				<li><code class="XMLe qname"><abbr 
				title="http://www.w3.org/2002/06/xhtml2/"
				 class="qname-prefix">xhtml2</abbr>:<code 
				class="qname-local-name">label</code></code></li>
				<li><code class="XMLe qname"><abbr title="http://www.w3.org/2002/06/xhtml2/" class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">li</code></code></li>
				<li class="snip">...</li>
				</ol>
			</li>
			</ol>
		</li>
		<li><code class="XMLe qname"><abbr title="http://www.w3.org/2002/06/xhtml2/" class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">li</code></code></li>
		<li class="snip">...</li>
		</ol>
	</li>
	</ol>
</li>
</ol>
</div>
<div class="caption">$BL\<!$NMWAG9=B$(B</div>
</div>

<p>$B?'!9$JK\<AE*$G$O$J$$M}M3$K$h$j!":G>e0L$NMWAG$O(B
<code lang="en" xml:lang="en" class="HTMLe qname"><abbr title="http://www.w3.org/1999/xhtml" 
class="qname-prefix">xhtml1</abbr>:<code class="qname-local-name">div</code></code>
$B$K$7$F$$$^$9!#$?$@$7!"85!9J8=q$KB8:_$7$F$$$?(B
<code lang="en" xml:lang="en" class="HTMLe qname"><abbr title="http://www.w3.org/1999/xhtml" 
class="qname-prefix">xhtml1</abbr>:<code class="qname-local-name">div</code></code>
$BMWAG$H6hJL$G$-$k$h$&$K!"(B
<code class="XMLa qname" lang="en" xml:lang="en"><abbr 
title="http://suika.fam.cx/~wakaba/archive/2005/3/toc#" 
class="qname-prefix">toc</abbr>:<code class="qname-local-name">toc</code></code>
$BB0@-$r2C$($F$$$^$9!#$3$NMWAG$O(B<a href="#USAGE-BIND">$BB+G{(B</a>$B$7$?MWAG$NDo$H$7$FDI2C$5$l$^$9!#(B
</p>

<p>
$B:G=i$NMWAG$G$"$k(B
<code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2/" 
class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">h</code></code>
$B$OL\<!ItJ,$N8+=P$7$G!"(B<q>$BL\<!(B</q>$B$H$$$&J8;zNs$,4^$^$l$^$9!#(B
$B$=$NDo$H$7$F(B
<code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2/" 
class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">nl</code></code>
$BMWAG$r;H$C$FJ8>OCf$N8+=P$7$KBP1~$9$k%j%9%H$,:n$i$l$F$$$^$9!#(B
$B$3$N%j%9%H$OJ8>OCf$N8+=P$7$N?<$5$KBP1~$7$F$$$^$9!#(B
$B$?$@$7!"J8>OCf$K(B<a href="#ET-SECTION">$B>O@a$KBP1~$9$kMWAG(B</a>$B$,$"$k$+$I$&$+$G9=B$$,$d$d0[$J$j$^$9!#(B
</p>

<dl>
<dt>$B>O@a$KBP1~$9$kMWAG$,$"$k>l9g(B</dt>
<dd>$B>O@a9=B$$K$"$o$;$FF~$l;R$K$J$C$?%j%9%H$,:n$i$l$^$9!#(B
$B%j%9%H$N?<$5$,>O@a$N?<$5$G$9!#(B
</dd>

<dt>$B>O@a$KBP1~$9$kMWAG$,$J$$>l9g(B</dt>
<dd>$BMWAG7?L>$N?t;z$K4X$o$i$:!"F1$8?<$5$NJ?$i$J%j%9%H$,:n$i$l$^$9!#(B
$B%j%9%H$N?<$5$H>O@a$N?<$5$,0lCW$7$^$;$s!#$?$@$7!"(B
$B%j%9%H9`L\(B (<code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2/" 
class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">li</code></code>
$BMWAG(B) $B$NB0@-(B
<code class="XMLa qname" lang="en" xml:lang="en"><abbr 
title="http://suika.fam.cx/~wakaba/archive/2005/3/toc#" 
class="qname-prefix">toc</abbr>:<code class="qname-local-name">element-type</code></code>
$B$KMWAG7?$N6I=jL>(B 
(<abbr title="Extensible Hypertext Markup Language" lang="en" xml:lang="en">XHTML</abbr>
$B$G$J$$(B
<abbr title="Hypertext Markup Language" lang="en" xml:lang="en">HTML</abbr>
$B$N>l9g!">.J8;z2=:Q$_(B) $B$r!"B0@-(B
<code class="XMLa qname" lang="en" xml:lang="en"><abbr 
title="http://suika.fam.cx/~wakaba/archive/2005/3/toc#" 
class="qname-prefix">toc</abbr>:<code class="qname-local-name">element-type-ns-uri</code></code>
$B$KMWAG7?$NL>A06u4V(B
<abbr lang="en" xml:lang="en" title="Uniform Resource Identifiers">URI</abbr>
$B$rM?$($F$$$^$9!#$3$l$r;H$C$F%9%?%$%k!&%7!<%H$NB&$G8+$+$1$N?<$5$rJQ$($k$3$H$,$G$-$^$9!#(B
</dd>
</dl>

<div class="note memo info">
<p><a href="#FIG-TOC-STRUCT">$B@h$N?^(B</a>$B$h$j$b$&>/$787L)$K!"(B
<abbr title="Document Type Definition" lang="en" xml:lang="en">DTD</abbr>
$BIw$K9=B$$r5-=R$9$k$H(B<a href="#FIG-TOC-DTD">$B<!$N?^(B</a>$B$N$h$&$K$J$j$^$9!#(B
</p>

<div class="fig" id="FIG-TOC-DTD">
<div class="fig-body">
<pre><code class="XML" lang="en" xml:lang="en"
><code class="comment" lang="ja" xml:lang="ja">&lt;!-- $BL\<!(B --&gt;</code>
&lt;!ELEMENT <code lang="en" xml:lang="en" class="HTMLe qname"><abbr title="http://www.w3.org/1999/xhtml" 
class="qname-prefix">xhtml1</abbr>:<code class="qname-local-name">div</code></code> (<code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2/" 
class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">h</code></code>, <code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2/" 
class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">nl</code></code>)&gt;
&lt;!ATTLIST <code lang="en" xml:lang="en" class="HTMLe qname"><abbr title="http://www.w3.org/1999/xhtml" 
class="qname-prefix">xhtml1</abbr>:<code class="qname-local-name">div</code></code>
  <code class="XMLa qname" lang="en" xml:lang="en"><abbr 
title="http://suika.fam.cx/~wakaba/archive/2005/3/toc#" 
class="qname-prefix">toc</abbr>:<code class="qname-local-name">toc</code></code>  CDATA  #REQUIRED&gt;

<code class="comment" lang="ja" xml:lang="ja">&lt;!-- $BL\<!$N8+=P$7(B --&gt;</code>
&lt;!ELEMENT <code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2/" 
class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">h</code></code> ANY&gt;

<code class="comment" lang="ja" xml:lang="ja">&lt;!-- $B>OL>%j%9%H(B --&gt;</code>
&lt;!ELEMENT <code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2/" 
class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">nl</code></code> (<code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2/" 
class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">label</code></code>, <code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2/" 
class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">li</code></code>+)&gt;

<code class="comment" lang="ja" xml:lang="ja">&lt;!-- $B>OL>(B ($B@a$"$j(B) --&gt;</code>
&lt;!ELEMENT <code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2/" 
class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">label</code></code> ANY&gt;

&lt;!ATTLIST <code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2/" 
class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">li</code></code>
  <code class="XMLa" lang="en" xml:lang="en">href</code>  CDATA  #REQUIRED&gt;

<code class="comment" lang="ja" xml:lang="ja">&lt;!-- $B>OL>(B ($B@a$J$7(B) --&gt;</code>
&lt;!ELEMENT <code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2/" 
class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">li</code></code> ANY&gt;

&lt;!ATTLIST <code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2/" 
class="qname-prefix">xhtml2</abbr>:<code class="qname-local-name">li</code></code>
  <code class="XMLa" lang="en" xml:lang="en">href</code>  CDATA  #REQUIRED
  <code class="XMLa qname" lang="en" xml:lang="en"><abbr 
title="http://suika.fam.cx/~wakaba/archive/2005/3/toc#" 
class="qname-prefix">toc</abbr>:<code class="qname-local-name">element-type</code></code>  NMTOKEN  #IMPLIED
  <code class="XMLa qname" lang="en" xml:lang="en"><abbr 
title="http://suika.fam.cx/~wakaba/archive/2005/3/toc#" 
class="qname-prefix">toc</abbr>:<code class="qname-local-name">element-type-uri</code></code>  CDATA  #IMPLIED&gt;
</code></pre>
</div>
<div class="caption">$BL\<!$NMWAG9=B$(B 
(<abbr title="Document Type Definition" lang="en" xml:lang="en">DTD</abbr>)</div>
</div>
</div>

<p>
<a href="http://www.w3.org/TR/xhtml2" lang="en" xml:lang="en"
><abbr title="Extensible Hypertext Markup Language" lang="en" xml:lang="en">XHTML</abbr>
2</a> $B$KBP1~$7$?MxMQ<T%(!<%8%'%s%H$d%9%?%$%k!&%7!<%H$r;H$C$F$$$l$P!"(B
$B2?$b$7$J$/$F$b$3$N9=B$$rE,@Z$K%l%s%@%j%s%0$G$-$k$O$:$G$9!#(B
$B$=$&$G$J$$>l9g$d!"BP1~$7$F$$$F$bL\<!$NItJ,$@$10c$C$?%l%s%@%j%s%0$r$5$;$?$$>l9g$K$O!"(B
$BCx<T$,E,Ev$J%9%?%$%k!&%7!<%H$G;XDj$9$kI,MW$,$"$j$^$9!#(B
</p>

<div class="column example" id="XMP-STYLE-FLOAT">

<p>$B%9%?%$%k!&%7!<%H$NNc$H$7$F!"$3$NJ8=q$G$b;HMQ$7$F$$$k!"(B
$B1\MwNN0h$N1&>e$K0\F02DG=$JH"$H$7$FI=<($9$k$?$a$N%9%?%$%k;XDj$r>R2p$7$^$9!#(B</p>

<dl>
<dt>URI</dt>
	<dd><code class="uri">&lt;<a href="toc-style-float-compact"
>https://suika.suikawiki.org/www/style/ui/toc-style-float-compact</a>&gt;</code></dd>
</dl>

<p>$B$3$N%9%?%$%k!&%7!<%H$O!"(B
<a href="/www/mozilla/xbl/doc/drag-xbl">$BMWAG$KBP1~$9$kH"$r0\F02DG=$K$9$k$?$a$N(B
<abbr lang="en" xml:lang="en" title="Extensible Binding Language">XBL</abbr>
$BItIJ(B</a>$B$rMxMQ$7$F$$$^$9!#L\<!$N0LCV$r1\MwNN0h$N1&>e$K8GDj$7!"(B
$B<YKb$K$J$i$J$$$h$&$KFI<T$,<+M3$K0\F02DG=$K$7$F$$$^$9!#(B
$B99$K!"IaCJ$OH>F)L@$GN"$NJ8>O$,F)$1$F8+$($k$h$&$K$7$F$$$^$9!#(B</p>

<div class="para">$B$3$N%9%?%$%k!&%7!<%H$r;H$&$?$a$K$O!"$*;H$$$N(B
<abbr title="Cascading Style Sheets" lang="en" xml:lang="en">CSS</abbr>
$B%9%?%$%k!&%7!<%H$N@hF,(B
<span class="weak">(<code class="CSS"
lang="en" xml:lang="en">@charset</code> $B5,B'$r;HMQ$7$F$$$k>l9g$O$=$N8e(B)</span> 
$B$K(B
<pre><code class="CSS" lang="en" xml:lang="en"
>@import '<code class="uri"
>https://suika.suikawiki.org/www/style/ui/toc-style-float-compact.css</code>';
</code></pre>
$B$H;XDj$7$F$/$@$5$$!#$"$k$$$O!"(B
$B$3$N%9%?%$%k!&%7!<%H$r;29M$KE,Ev$J5-=R$r2C$($F2<$5$$!#(B
</div>
</div>

<div class="note memo" id="NOTE-NS-URI">
<p>$B$3$N@a$G;HMQ$7$?=$>~L>$NL>A06u4V@\F,<-$O!"(B
$B<!$NL>A06u4VL>$rI=$7$^$9!#(B</p>

<dl>
<dt><dfn lang="en" xml:lang="en"><code>xhtml1</code></dfn></dt>
	<dd><code class="uri" lang="en" xml:lang="en"
	>&lt;http://www.w3.org/1999/xhtml&gt;</code></dd>
<dt><dfn lang="en" xml:lang="en"><code>xhtml2</code></dfn></dt>
	<dd><code class="uri" lang="en" xml:lang="en"
	>&lt;http://www.w3.org/2002/06/xhtml2/&gt;</code></dd>
<dt><dfn lang="en" xml:lang="en"><code>toc</code></dfn></dt>
	<dd><code class="uri" lang="en" xml:lang="en"
	>&lt;http://suika.fam.cx/~wakaba/archive/2005/3/toc#&gt;</code></dd>
</dl>

<p>
$B$J$*!"8E$$HG(B (<a title="toc.ja.xbl 1.2"
href="https://suika.suikawiki.org/gate/cvs/webroot/www/style/ui/toc.ja.xbl?rev=1.2"
>1.2</a> $B$^$G(B) $B$G$O(B <abbr title="Extensible Hypertext Markup Language" 
lang="en" xml:lang="en">XHTML</abbr> 2 $B$NL>A06u4VL>$H$7$F(B
<code class="uri" lang="en" xml:lang="en"
>&lt;http://www.w3.org/2002/06/xhtml2&gt;</code>
$B$r;H$C$F$$$^$7$?!#(B
</p>
</div>

</div><!-- #USAGE-TOC-STYLE -->

<div class="section" id="ELEMENT-TYPES">
<h4>$BBP1~$7$F$$$kMWAG7?(B</h4>

<p>$B<!$NMWAG7?$O!"8+=P$7$rI=$9MWAG7?$H$7$F07$$$^$9!#(B</p>
<ul id="ET-HEADING">
<li><code lang="en" xml:lang="en" class="HTMLe qname"><abbr 
title="http://www.w3.org/1999/xhtml" 
class="qname-prefix">xhtml1</abbr>:<code class="qname-local-name">h1</code></code></li>
<li><code lang="en" xml:lang="en" class="HTMLe qname"><abbr 
title="http://www.w3.org/1999/xhtml" 
class="qname-prefix">xhtml1</abbr>:<code class="qname-local-name">h2</code></code></li>
<li><code lang="en" xml:lang="en" class="HTMLe qname"><abbr 
title="http://www.w3.org/1999/xhtml" 
class="qname-prefix">xhtml1</abbr>:<code class="qname-local-name">h3</code></code></li>
<li><code lang="en" xml:lang="en" class="HTMLe qname"><abbr 
title="http://www.w3.org/1999/xhtml" 
class="qname-prefix">xhtml1</abbr>:<code class="qname-local-name">h4</code></code></li>
<li><code lang="en" xml:lang="en" class="HTMLe qname"><abbr 
title="http://www.w3.org/1999/xhtml" 
class="qname-prefix">xhtml1</abbr>:<code class="qname-local-name">h5</code></code></li>
<li><code lang="en" xml:lang="en" class="HTMLe qname"><abbr 
title="http://www.w3.org/1999/xhtml" 
class="qname-prefix">xhtml1</abbr>:<code class="qname-local-name">h6</code></code></li>
<li><code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2" 
class="qname-prefix">xhtml2-2002</abbr>:<code class="qname-local-name">h</code></code></li>
<li><code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2/" 
class="qname-prefix">xhtml2-2005</abbr>:<code class="qname-local-name">h</code></code></li>
</ul>

<p>$B<!$NMWAG7?$O!"F,$rI=$9MWAG7?$H$_$J$7$^$9!#(B</p>

<ul id="ET-SECTION-HEADER">
<li><a href="http://www.whatwg.org/specs/web-apps/current-work/#header0"
><code lang="en" xml:lang="en" class="HTMLe qname"><abbr 
title="http://www.w3.org/1999/xhtml" 
class="qname-prefix">html5</abbr>:<code class="qname-local-name">header</code
></code></a></li>
<li><code lang="en" xml:lang="en" class="HTMLe qname"><abbr 
title="http://www.w3.org/1999/xhtml" 
class="qname-prefix">xhtml1</abbr>:<code class="qname-local-name">div</code></code>
	($B$?$@$7!"(B <code class="HTMLa" lang="en" xml:lang="en">class</code>
	$B$K(B <code lang="en" xml:lang="en">header</code>
	$B$,4^$^$l$F$$$kMWAG$K8B$j$^$9!#(B)</li>
</ul>

<p>$B<!$NMWAG7?$O!">O@a$rI=$9MWAG7?$H$_$J$7$^$9!#(B</p>

<ul id="ET-SECTION">
<li><code lang="en" xml:lang="en" class="HTMLe qname"><abbr 
title="http://www.w3.org/1999/xhtml" 
class="qname-prefix">xhtml1</abbr>:<code class="qname-local-name">body</code></code></li>
<li><code lang="en" xml:lang="en" class="HTMLe qname"><abbr 
title="http://www.w3.org/1999/xhtml" 
class="qname-prefix">xhtml1</abbr>:<code class="qname-local-name">div</code></code>
	($B$?$@$7!"(B <code class="HTMLa" lang="en" xml:lang="en">class</code>
	$B$K(B <code lang="en" xml:lang="en">section</code>,
	<code lang="en" xml:lang="en">article</code>,
	<code lang="en" xml:lang="en">wiki-section</code>
	$B$N$$$:$l$+$,4^$^$l$F$$$kMWAG$K8B$j$^$9!#(B)</li>
<li><code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2" 
class="qname-prefix">xhtml2-2002</abbr>:<code class="qname-local-name">body</code></code></li>
<li><code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2" 
class="qname-prefix">xhtml2-2002</abbr>:<code class="qname-local-name">section</code></code></li>
<li><code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2/" 
class="qname-prefix">xhtml2-2005</abbr>:<code class="qname-local-name">body</code></code></li>
<li><code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/2002/06/xhtml2/" 
class="qname-prefix">xhtml2-2005</abbr>:<code class="qname-local-name">section</code></code></li>
<li><a href="http://www.whatwg.org/specs/web-apps/current-work/#section3"
><code lang="en" xml:lang="en" class="XMLe qname"><abbr 
title="http://www.w3.org/1999/xhtml" 
class="qname-prefix">html5</abbr>:<code class="qname-local-name">section</code
></code></a></li>
</ul>

<div class="note memo">
<p>$B$3$N@a$G;HMQ$7$?=$>~L>$NL>A06u4V@\F,<-$O!"(B
$B<!$NL>A06u4VL>$rI=$7$^$9!#(B</p>

<dl>
<dt><dfn lang="en" xml:lang="en"><code>html5</code></dfn></dt>
	<dd><code class="uri" lang="en" xml:lang="en"
	>&lt;http://www.w3.org/1999/xhtml&gt;</code></dd>
<dt><dfn lang="en" xml:lang="en"><code>xhtml1</code></dfn></dt>
	<dd><code class="uri" lang="en" xml:lang="en"
        >&lt;http://www.w3.org/1999/xhtml&gt;</code></dd>
<dt><dfn lang="en" xml:lang="en"><code>xhtml2-2002</code></dfn></dt>
	<dd><code class="uri" lang="en" xml:lang="en"
        >&lt;http://www.w3.org/2002/06/xhtml2&gt;</code></dd>
<dt><dfn lang="en" xml:lang="en"><code>xhtml2-2005</code></dfn></dt>
	<dd><code class="uri" lang="en" xml:lang="en"
        >&lt;http://www.w3.org/2002/06/xhtml2/&gt;</code></dd>
<dt><dfn lang="en" xml:lang="en"><code>toc</code></dfn></dt>
	<dd><code class="uri" lang="en" xml:lang="en"
        >&lt;http://suika.fam.cx/~wakaba/archive/2005/3/toc#&gt;</code></dd>
</dl>

<p>$B$?$@$7!"(B
<abbr title="Extensible Hypertext Markup Language" lang="en" xml:lang="en">XHTML</abbr>
$B$G$J$$(B
<abbr title="Hypertext Markup Language" lang="en" xml:lang="en">HTML</abbr>
$B$O(B
<span lang="en" xml:lang="en"><abbr title="Extensible Hypertext Markup Language" lang="en" xml:lang="en">XHTML</abbr>
1</span> $B$HF1$8$H$_$J$7$^$9!#(B</p>
</div>
</div>

</div><!-- #USAGE-ADV -->

<div class="section" id="USAGE-BOOKMARKLET">
<h3><span lang="en" xml:lang="en">Bookmarklet</span> $B$H$7$F;H$&(B</h3>

<p><span lang="en" xml:lang="en">Bookmarklet</span> $B$H$7$F!"(B
$BFI<T$,G$0U$N(B
<abbr title="Hypertext Markup Language" lang="en" xml:lang="en">HTML</abbr>
$BJ8=q$KL\<!$rIU$1$k$3$H$,$G$-$^$9!#(B</p>

<div class="example fig">
<div class="fig-body">
<dl>
<dt><abbr title="Uniform Resource Identifiers" lang="en" xml:lang="en">URI</abbr></dt>
	<dd><code class="uri">&lt;<a href="javascript:function%20s(){var%20l=document.createElement('link');l.setAttribute('href','data:text/css,h1{-moz-binding:url(https://suika.suikawiki.org/www/style/ui/toc%23after)}');l.setAttribute('rel','stylesheet');document.getElementsByTagName('head').item(0).appendChild(l);}function%20t(){var%20l=document.createElement('link');l.setAttribute('href','https://suika.suikawiki.org/www/style/ui/toc-style-float-compact.css');l.setAttribute('rel','stylesheet');document.getElementsByTagName('head').item(0).appendChild(l);}t();s()">javascript:function%20s(){var%20l=document.createElement('link');l.setAttribute('href','data:text/css,h1{-moz-binding:url(https://suika.suikawiki.org/www/style/ui/toc%23after)}');l.setAttribute('rel','stylesheet');document.getElementsByTagName('head').item(0).appendChild(l);}function%20t(){var%20l=document.createElement('link');l.setAttribute('href','https://suika.suikawiki.org/www/style/ui/toc-style-float-compact.css');l.setAttribute('rel','stylesheet');document.getElementsByTagName('head').item(0).appendChild(l);}t();s()</a>&gt;</code></dd>
</dl>
</div>

<div class="caption"><span lang="en" xml:lang="en">Bookmarklet</span>
$B$N0lNc(B</div>
</div>

</div>

<div class="section" id="REAL-XMP">
<h3>$B<B:]$N;HMQNc(B</h3>

<p>$B<!$N%5%$%H$G<B:]$K;HMQ$7$F$$$^$9(B ($B=gITF1(B)$B!#(B</p>

<ul>
<li><a href="/gate/2005/sw/">SuikaWiki</a></li>
<li><a href="/~wakaba/">$B<cMUE*@$3&(B</a>$B$J$I!"(B <a href="/www/style/html/xhtml1"
><code>suika.fam.cx</code>
$BFb$NHFMQJ8=q%9%?%$%k!&%7!<%H(B</a>$B$r;H$C$?3FJ8=q(B</li>
</ul>

</div><!-- #REAL-XMP -->

</div><!-- #USAGE -->

<div class="section" id="RESTRICTIONS">
<h2>$B@)8B;v9`(B</h2>

<ul>
<li>
<abbr lang="en" xml:lang="en" title="Extensible Binding Language">XBL</abbr>
$B$,;H$($kMxMQ<T%(!<%8%'%s%H$G$N$_8z2L$,$"$j$^$9!#(B
</li>
<li>
<a href="#ET-SECTION">$B>O@a9=B$$rI=$9MWAG(B</a>$B$,$J$$$H!"(B
<span class="weak">($B=hM}$N4JC1$N$?$a(B)</span>
<a href="#USAGE-TOC-STYLE">$B$"$^$j$h$$9=B$$r@8@.$7$^$;$s(B</a>$B!#(B
</li>
<li>$BBg$-$JJ8=q$KBP$7$F;HMQ$9$k$H!"=hM}$K$d$d;~4V$,$+$+$j$^$9!#(B
$BC1$K8+=P$7$rCj=P$9$k$@$1$G$O$J$/!">O@a9=B$$rD4$Y$k$?$a$KJ8=qA4BN$r8+$F$$$k$N$G!"(B
$B$I$&$7$F$b$=$NJ,$N;~4V$,$+$+$C$F$7$^$$$^$9!#8zN($N$?$a!"(B
$B8+=P$7$,4^$^$l$J$$MWAG7?$r8+$D$1$k$H$=$NItJ,LZ$O=hM}$r>JN,$7$F$$$^$9!#(B</li>
<li><abbr title="Extensible Hypertext Markup Language" lang="en" xml:lang="en"
>XHTML</abbr> 2 $B$G<1JL;R$r<+F0@8@.$9$k$H$-$OJ8=q7?@k8@FbItItJ,=89g$G(B
<code class="XMLa" lang="en" xml:lang="en">id</code>
$BB0@-$r(B <code class="XML" lang="en" xml:lang="en">ID</code>
$B7?$G@k8@$7$F$$$J$1$l$P$J$j$^$;$s(B <span class="weak"
>($B$=$&$G$J$1$l$P%j%s%/$r3h@-2=$7$?$H$-$K$=$N>l=j$,I=<($5$l$^$;$s(B)</span>$B!#(B</li>
</ul>

<div class="para" id="TODO"><span
class="caption">$B>-Mh$NM=Dj(B</span>:

<ul>
<li>$B?^I=L\<!$N@8@.(B</li>
<li><del><abbr lang="en" xml:lang="en" title="HTML Components">HTC</abbr>
$B$K$h$k(B <abbr lang="en" xml:lang="en" title="Windows $B$NIT2DJ,$N0lIt$?$k(B Internet Explorer">WinIE</abbr>
$B8~$1$N<BAu(B</del>
<span class="weak">($BLLE]=-$$(B)</span></li>
<li><a href="http://www.whatwg.org/specs/web-apps/current-work/#outlines"
><abbr title="Hypertext Markup Language" lang="en" xml:lang="en">HTML</abbr>
5 $B$NNX3T:n@.K!(B</a>$B$N<BAu(B</li>
<li><a href="http://microformats.org/wiki/xoxo"
lang="en" xml:lang="en"><abbr title="Extensible Open XHTML Outlines"
>XOXO</abbr></a> $B$K$h$k=PNO(B</li>
<li>$BG$0U$N(B <abbr title="Extensible Markup Language" lang="en" xml:lang="en"
>XML</abbr> $BJ8=q$KBP1~(B (<code class="HTMLa" lang="en" xml:lang="en">id</code>,
<code class="XMLa" lang="en" xml:lang="en">xml:id</code>
$B0J30$N<1JL;R$KBP1~(B) $B!=!=(B $B$I$&$d$C$F(B?</li>
</ul>
</div><!-- .para -->


</div><!-- #RESTRICTIONS -->

<div class="section" id="FILES">
<h2 lang="en" xml:lang="en">$B4XO"%U%!%$%k(B</h2>

<p><a href="./">$B$3$N3,AX(B</a>$B$N(B <code class="file">toc</code>
$B$+$i;O$^$kL>A0$N%U%!%$%k$,4XO"$9$k<BAu$d%9%?%$%k!&%7!<%H$NNc$G$9!#(B</p>
<p>$B3F%U%!%$%k$O(B <!--<a href="http://suika.fam.cx/gate/cvs/webroot/www/style/ui/"
><abbr lang="en" xml:lang="en"
title="Concurrent Versions System">CVS</abbr>-->
<a href="https://suika.suikawiki.org/gate/git/wi/suikaweb/styles.git/tree">Git</a>
$B$GHG4IM}$7$F$$$^$9(B</a>$B!#(B</p>
</div>

<div class="section" id="LICENSE">
<h2 lang="en" xml:lang="en">License</h2>

<p><a href="#FILES">$B4XO"$9$k%U%!%$%k(B</a>$B$O(B
<q lang="en" xml:lang="en">MPL 1.1/GPL 2.0/LGPL 2.1</q>
$B$GG[I[$7$F$$$^$9!#>\$7$/$O3F%U%!%$%k$NCm<a$r$4Mw2<$5$$!#(B</p>
</div>

<div class="section" id="RELATED">
<h2>$B4XO"$9$k;q8;(B</h2>

<dl>
<dt><a href="https://suika.suikawiki.org/gate/2005/sw/SuikaWiki3/%E3%83%A1%E3%83%A2/2005-03-08">SuikaWiki3//$B%a%b(B//2005-03-08</a></dt>
	<dd><code class="file" lang="en" xml:lang="en">toc.xbl</code>
	$B4XO"$NOCBj(B, $B$40U8+(B, $BIT6q9g>pJsEy$O$3$A$i$^$G$*4j$$$7$^$9!#(B</dd>
</dl>
</div><!-- #RELATED -->

<div class="footer">
<div class="navigation">
[<a href="/">/</a> <a href="/www/" lang="en" xml:lang="en"
>Web</a> <a href="/www/style/" lang="en" xml:lang="en">$B%9%?%$%k!&%7!<%H(B</a> 
<a href="/www/style/ui/" rel="up">$BMxMQ<T3&LL(B</a>]
</div>
<div class="update" lang="en" xml:lang="en">
  <a href="https://suika.suikawiki.org/gate/git/wi/suikaweb/styles.git/history/HEAD:/ui/toc-desc.ja.html"><time>2012-01-14</time></a>
</div>
</div>

</body>
</html>
