@namespace toc 'http://suika.fam.cx/~wakaba/archive/2005/3/toc#';
@namespace h1 'http://www.w3.org/1999/xhtml';
@namespace h2 'http://www.w3.org/2002/06/xhtml2';
@namespace h2005 'http://www.w3.org/2002/06/xhtml2/';

h1|div[toc|toc] {
  display: block;
  position: fixed;
  right: 1em;
  top: 1em;
  width: 15em;
  max-height: 20em;
  overflow: auto;
  border: gray outset 1px;
  -moz-border-radius: 1em;
  color: InfoText;
  background-color: InfoBackground;
  opacity: 0.3;
  font-size: 80%;
  line-height: 1.1;
  z-index: 10000;
  -moz-binding: url(https://suika.suikawiki.org/www/style/ui/drag.xbl#simple-drag);
}

h1|div[toc|toc]:hover {
  opacity: 1.0;
}

h1|div[toc|toc].DRAGABLE {
  cursor: move;
}

h1|div[toc|toc] h2|h,
h1|div[toc|toc] h2005|h {
  display: block;
  margin: 0.2em 2em;
  font-size: 120%;
  font-weight: bolder;
  line-height: 1.2;
  text-align: center;
}

h1|div[toc|toc] h2|nl,
h1|div[toc|toc] h2005|nl {
  display: block;
  margin: 0;
  padding: 0;
}

h1|div[toc|toc] > h2|nl,
h1|div[toc|toc] > h2005|nl {
  margin: 0.2em;
}

h1|div[toc|toc] h2|li,
h1|div[toc|toc] h2005|li {
  display: block;
  margin: 0 0 0 2em;
  padding: 2px;
}

h1|div[toc|toc] h2|li[toc|element-type="h2"],
h1|div[toc|toc] h2005|li[toc|element-type="h2"] {
  margin-left: 4em;
}
h1|div[toc|toc] h2|li[toc|element-type="h3"],
h1|div[toc|toc] h2005|li[toc|element-type="h3"] {
  margin-left: 6em;
}
h1|div[toc|toc] h2|li[toc|element-type="h4"],
h1|div[toc|toc] h2005|li[toc|element-type="h4"] {
  margin-left: 8em;
}
h1|div[toc|toc] h2|li[toc|element-type="h5"],
h1|div[toc|toc] h2005|li[toc|element-type="h5"] {
  margin-left: 10em;
}
h1|div[toc|toc] h2|li[toc|element-type="h6"],
h1|div[toc|toc] h2005|li[toc|element-type="h6"] {
  margin-left: 12em;
}

h1|div[toc|toc] h2|label,
h1|div[toc|toc] h2005|label {
  display: block;
  margin: 0;
  padding: 2px;
  font-weight: normal;
  text-decoration: none;
}

h1|div[toc|toc] h2|*[href],
h1|div[toc|toc] h2005|*[href] {
  border-style: none;
  color: inherit;
  background-color: transparent;
	cursor: pointer;
	text-decoration: none !important;
  -moz-binding: url(https://suika.suikawiki.org/www/style/html/xhtml2-translate.xbl#href);
}

h1|div[toc|toc] h2|*[href]:hover,
h1|div[toc|toc] h2005|*[href]:hover {
  border-style: none;
  -moz-outline: solid 1px blue;
  outline: solid 1px blue;
  color: inherit;
  background-color: transparent;
}

h1|div[toc|toc] h2|*[href]:active,
h1|div[toc|toc] h2005|*[href]:active {
  color: -moz-activehyperlinktext;
}

/* Revision: $Date: 2005/07/25 10:58:26 $ */

/* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * <http://www.mozilla.org/MPL/>
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is toc.xbl code.
 *
 * The Initial Developer of the Original Code is
 * Wakaba <wakaba@suikawiki.org>.
 * Portions created by the Initial Developer are Copyright (C) 2005
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *   Wakaba <wakaba@suikawiki.org>
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */
