@import 'https://suika.suikawiki.org/www/style/ui/toc-style-float.css';
@namespace toc 'http://suika.fam.cx/~wakaba/archive/2005/3/toc#';
@namespace h1 'http://www.w3.org/1999/xhtml';
@namespace h2 'http://www.w3.org/2002/06/xhtml2/';
@namespace xoxo 'http://suika.fam.cx/www/style/html/xoxo#';

h1|div[toc|toc] {
  max-height: none;
  height: auto;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden;
}

h1|div[toc|toc] h2|nl {
  display: block;
  margin: 0;
  border-style: none;
  padding: 0;
  width: 90%;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden;
}

h1|div[toc|toc] h2|nl h2|nl {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: auto;
  border-style: none;
  padding: 0;
}

h1|div[toc|toc] h2|li {
  display: block;
  list-style-type: none;
  margin: 0 0 0 1em;
  border-style: none;
  padding: 0;
}

h1|div[toc|toc] h2|label {
  display: block;
  list-style-type: none;
  margin: 0;
  border-style: none;
  padding: 0;
  font-weight: normal;
  cursor: pointer;
}

h1|div[toc|toc] h2|label,
h1|div[toc|toc] h2|label[href] {
  -moz-binding: url(/www/style/html/xhtml2-dynamic.xbl#expandable-label-open-by-hover);
}

h1|div[toc|toc] h2|nl:not([xoxo|compact]):not(:hover):not(:focus) > h2|label:after,
h1|div[toc|toc] h2|nl:not([xoxo|compact]) > h2|label:after {
  content: " \0025BF";
}

h1|div[toc|toc] h2|nl:not([xoxo|compact]):not(:hover):not(:focus) > h2|li,
h1|div[toc|toc] h2|nl:not([xoxo|compact]) > h2|li {
  display: block;
}

h1|div[toc|toc] h2|nl[xoxo|compact]:not(:hover):not(:focus) > h2|label:after,
h1|div[toc|toc] h2|nl[xoxo|compact] > h2|label:after {
  content: " \0025BE";
}

h1|div[toc|toc] h2|nl[xoxo|compact]:not(:hover):not(:focus) > h2|li,
h1|div[toc|toc] h2|nl[xoxo|compact] > h2|li {
  display: none;
}



/* Revision: $Date: 2005/08/10 12:13:48 $ */

/* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * <http://www.mozilla.org/MPL/>
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is toc.xbl code.
 *
 * The Initial Developer of the Original Code is
 * Wakaba <wakaba@suikawiki.org>.
 * Portions created by the Initial Developer are Copyright (C) 2005
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *   Wakaba <wakaba@suikawiki.org>
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */
